{% extends 'main2.html' %}
{% load static %}

{% block title %}Shop{% endblock title %}

{% block content %}

<style>
  @media (min-width: 1025px) {
    .h-custom {
      height: 100vh !important;
    }
  }

  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox
input[type=number] {
  -moz-appearance: textfield;

} */
</style>

<section class="h-100 h-custom">
  <div class="container h-100 py-5">
    {% if cart %}
    <div class="row d-flex justify-content-center  h-100">
      <div class="col">

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="h5">Shopping Bag</th>
                <th scope="col">Product</th>
                <th scope="col">Category</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Subtotal</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>

              {% for item in cart %}
              {% with product=item.product %}
              <tr class="items_cart" data-index="{{product.id}}">
                <th scope="row">
                  <div class="d-flex align-items-center">
                    <img src="{{ product.product_image.url }}" class="img-fluid rounded-3" style="width: 120px;"
                      alt="Book">
                  </div>
                </th>
                <td class="class-middle">
                  <p class="mb-0 ml-3" style="font-weight: 500;">{{ product.product_name }}</p>
                  <br>
                  <!-- <p id = "item_quantity" class="mb-0 ml-3" style="font-weight: 500;"><b>Available Stocks:</b> {{ product.tempo_quantity }}</p>
                  <p id = "item_minimum" class="mb-0 ml-3" style="font-weight: 500;"><b>Minimum Order:</b> </p> <span> {{ product.min_orders }} </span>  -->
                 <div class = "mb-0 ml-3">
                  <span><b>Remaining Stocks: </b></span> <span id="item_quantity{{product.id}}">{{ product.tempo_quantity }} </span>
                    <br>
                    <span><b>Minimum Order: </b></span> <span id ="item_minimum{{product.id}}">{{ product.min_orders }}</span>
                  </div>
                </td>
                <td class="align-middle">
                  <p class="mb-0" style="font-weight: 500;">{{ product.category }}</p>
                </td>
                <td class="align-middle">
                  <div class="d-flex flex-row">
                    <button id="decrease-quantity{{product.id}}" name = "decreaseq" data-index="{{product.id}}" class="btn btn-link px-2 reduce-quantity"
                      onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                      <i class="fas fa-minus"></i>
                    </button>

                    <input id="qty-input{{product.id}}" data-index="{{product.id}}" min="0" name="quantity" value="{{item.qty}}" type="number"
                      class="form-control form-control-sm item-qty ml-1" style="width: 70px;" />

                    <button id="increase-quantity{{product.id}}" data-index="{{product.id}}" class="btn btn-link px-2 increase-quantity"
                      onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </td>
                <td class="align-middle">
                  <p id="prod-uprice{{product.id}}" class="mb-0" style="font-weight: 500;">{{product.price}}</p>
                </td>
                <td class="align-middle">
                  <p id="prod-tprice{{product.id}}" class="mb-0 subtotal" style="font-weight: 500;" data-subtotal="{{item.subtotal_price }}">{{item.subtotal_price }}</p>
                </td>
                <td class="align-middle">
                  <!-- <i id = "remove-cart" class="fas fa-trash text-danger"></i> -->
                  <button id="remove-cart" data-index="{{product.id}}" class="btn btn-danger delete-button"
                    type="button"> Remove </button>
                </td>
              </tr>
              {% endwith %}
              {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>

        <!-- PAYMENT -->
        
        <div class="card shadow-2-strong mb-5 mb-lg-0" style="border-radius: 16px;" id="payment-card">
          <div class="card-body p-4">

            <div class="row">
              <div class="col-md-6 col-lg-4 col-xl-3 mb-4 mb-md-0" id ="checkout-button">
                <form>
                  <div class="d-flex flex-row pb-4">
                    <div class="d-flex align-items-center pe-2">
                      <input class="form-check-input p-2" type="radio" name="radioNoLabel" id="radioNoLabel2v" value=""
                        aria-label="..." onclick="text(0)" checked/>
                    </div>
                    <div class="rounded border w-100 p-3">
                      <p class="d-flex align-items-center mb-0">
                        <i class="fab fa-cc-visa fa-2x text-dark pe-2"></i>Debit Card
                      </p>
                    </div>
                  </div>
                  <div class="d-flex flex-row">
                    <div class="d-flex align-items-center pe-2">
                      <input class="form-check-input p-2" type="radio" name="radioNoLabel" id="radioNoLabel3v" value=""
                        aria-label="..." onclick="text(1)" />
                    </div>
                    <div class="rounded border w-100 p-3">
                      <p class="d-flex align-items-center mb-0">
                        <i class="fab fa-cc-paypal fa-2x text-dark pe-2"></i>Cash on Delivery
                      </p>
                    </div>
                  </div>
                </form>
              </div>
             <!--INPUT FIELDS-->
              <div class="col-md-6 col-lg-4 col-xl-6" id="inputfields">
                <div class="row">
                  <div class="col-12 col-xl-6">
                    <div class="form-floating mb-4 mb-xl-5">
                      <input type="text" id="typeName" class="form-control form-control-lg" size="17"
                        placeholder="Name on card" />
                      <label class="form-label" for="typeName">Name on card</label>
                    </div>

                    <div class="form-floating mb-4 mb-xl-5">
                      <input type="text" id="typeExp" class="form-control form-control-lg" placeholder="MM/YY" size="7"
                        id="exp" minlength="7" maxlength="7" />
                      <label class="form-label" for="typeExp">Expiration</label>
                    </div>
                  </div>
                  <div class="col-12 col-xl-6">
                    <div class="form-floating mb-4 mb-xl-5">
                      <input type="text" id="typeCd" class="form-control form-control-lg" size="17"
                        placeholder="1111 2222 3333 4444" minlength="19" maxlength="19" />
                      <label class="form-label" for="typeCd">Card Number</label>
                    </div>

                    <div class="form-floating mb-4 mb-xl-5">
                      <input type="password" id="typeText" class="form-control form-control-lg"
                        placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" />
                      <label class="form-label" for="typeText">Cvv</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-xl-3" id="amount">
                <div class="d-flex justify-content-between" style="font-weight: 500;">
                  <p class="mb-2">Subtotal</p>
                  <p id="subtotal" class="mb-2">{{cart.get_subtotal_price}}</p>
                </div>
                <div id="" class="d-flex justify-content-between" style="font-weight: 500;">
                  <p class="mb-0">Shipping</p>
                  <p class="mb-0">50.00</p>
                </div>

                <hr class="my-4">

                <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                  <p class="mb-2">Total</p>
                  <p id="total" class="mb-2">{{cart.get_total_price}}</p>
                </div>
                <button type="button" class="btn btn-primary btn-block btn-lg">
                  Checkout
                </button>
              </div>
            </div>

          </div>
        </div>

      </div>
      {% else %}
        <div class="alert alert-warning mx-auto" role="alert" style="text-align: center; width: 40%;">
          Your cart is empty!
      </div>
    </div>
    {% endif %}
  </div>
</section>

<script>
function text(x)
  {
    if (x == 0){ 
    
      document.getElementById("inputfields").style.display= "block";
      document.getElementById("payment-card").style.width= "100%"
      document.getElementById("payment-card").style.margin= "0";
      document.getElementById("amount").style.marginLeft= "0";
      document.getElementById("checkout-button").style.width= "25%"; 

    }
    else
    {
     document.getElementById("inputfields").style.display = "none";
     document.getElementById("payment-card").style.width= "100%";
     document.getElementById("payment-card").style.margin= "auto";
     document.getElementById("amount").style.marginLeft= "40%";
     document.getElementById("checkout-button").style.width= "25%"; 
    
    
    return;
    
  }
}

  const deleteButtons = document.querySelectorAll('.delete-button');
  const increaseButtons = document.querySelectorAll('.increase-quantity');
  const decreaseButtons = document.querySelectorAll('.reduce-quantity');

  const inputFields = document.querySelectorAll('.item-qty')


  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  const csrftoken = getCookie('csrftoken');

  const inputs = document.querySelectorAll('.item-qty');
  
  for(const inp of inputs){
      inp.addEventListener('keyup', async function (e) {
      let prodId = inp.dataset.index
      const inputTag = document.querySelector(`#qty-input${prodId}`)
      const iStocks = document.getElementById(`item_quantity${prodId}`).innerText;
      const iMinimum= document.getElementById(`item_minimum${prodId}`).innerText;
      document.getElementById(`increase-quantity${prodId}`).disabled = false
      
        setTimeout(()=> {
         if ( parseInt(inputTag.value) < parseInt(iMinimum)) {
          alert("Quantity Input is less than the Minimum Order! ");
          inputTag.value = iMinimum;
        }
          else if (parseInt(inputTag.value) > parseInt(iStocks)){
          alert("Quantity Input is greater than the Available Stocks! ");
          inputTag.value = iMinimum;
          }
      }
      ,2000);
       
      const response = await fetch("{% url 'cart_update' %}", {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json',
          'X-Requested-With': 'XMLHttpRequest',
          'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify({
          productid: prodId,
          productqty: inp.value,
          csrfmiddlewaretoken: "{{csrf_token}}",
          action: 'post'
        })
      });

      const data = await response.json();
      if (data) {
        document.querySelector('#cart-qty').innerHTML = data.qty
        const uPrice = document.querySelector(`#prod-uprice${prodId}`).innerText
        total = (parseFloat(data.subtotal))
        document.querySelector('#subtotal').innerHTML = data.subtotal.toFixed(2)
        document.querySelector('#total').innerHTML = data.total.toFixed(2)
        document.querySelector(`#prod-tprice${prodId}`).innerText = (parseInt(inputTag.value) * parseFloat(uPrice)).toFixed(2);
      }
    });
  }

    // DELETE BUTTON

  for (const delBtn of deleteButtons) {
    delBtn.addEventListener('click', async function (e) {
      e.preventDefault();
      let prodId = delBtn.dataset.index
      const response = await fetch("http://localhost:8000/cart/remove/", {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json',
          'X-Requested-With': 'XMLHttpRequest',
          'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify({
          productid: prodId,
          csrfmiddlewaretoken: "{{csrf_token}}",
          action: 'post'
        })
      });
      const data = await response.json();
      if (data) {
        const prodItem = document.querySelectorAll('.items_cart')
        for (const item of prodItem) {
          if (item.dataset.index === prodId) {
            item.remove()
          }
        }
        if(data.qty === 0){
          total = 0
          subtotal = 0;
          location.reload();
        }else{
            total = (parseFloat(data.subtotal) + 50.00).toFixed(2);
            subtotal = data.subtotal
        }
        
        document.querySelector('#cart-qty').innerHTML = data.qty
        document.querySelector('#subtotal').innerHTML = subtotal
        document.querySelector('#total').innerHTML = total
 
      }
    });
  }

  // DECREASE QUANTITY BUTTON 

  for (const dec of decreaseButtons) {
    dec.addEventListener('click', async function (e) {
      e.preventDefault();
      let prodId = dec.dataset.index
      const inputTag = document.querySelector(`#qty-input${prodId}`);
      const iStocks = document.getElementById(`item_quantity${prodId}`).innerText;
      const iMinimum= document.getElementById(`item_minimum${prodId}`).innerText;
      document.getElementById(`increase-quantity${prodId}`).disabled = false
      

      if ( parseInt(inputTag.value) < parseInt(iMinimum)) {
        alert("Quantity Input is less then the Minimum Order! ");
        this.disabled = true;
        inputTag.value = iMinimum;
        }   
      
        else {
          
          const response = await fetch("{% url 'cart_update' %}", {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json',
          'X-Requested-With': 'XMLHttpRequest',
          'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify({
          productid: prodId,
          productqty: inputTag.value,
          csrfmiddlewaretoken: "{{csrf_token}}",
          action: 'post'
          })
        });

        const data = await response.json();
          if (data) {
           document.querySelector('#cart-qty').innerHTML = data.qty
           const uPrice = document.querySelector(`#prod-uprice${prodId}`).innerText
           total = (parseFloat(data.subtotal))
          document.querySelector('#subtotal').innerHTML = data.subtotal.toFixed(2)
          document.querySelector('#total').innerHTML = data.total.toFixed(2)
          document.querySelector(`#prod-tprice${prodId}`).innerText = (parseInt(inputTag.value) * parseFloat(uPrice)).toFixed(2);
      
        }
        }
    });
  }


  // INCREASE BUTTON

  for (const inc of increaseButtons) {
    inc.addEventListener('click', async function (e) {
      e.preventDefault();
      let prodId = inc.dataset.index
      const inputTag = document.querySelector(`#qty-input${prodId}`)
      const iStocks = document.getElementById(`item_quantity${prodId}`).innerText;
      const iMinimum= document.getElementById(`item_minimum${prodId}`).innerText;
      document.getElementById(`decrease-quantity${prodId}`).disabled = false
      

      if ( parseInt(inputTag.value) > parseInt(iStocks)) {
        alert("Quantity Input is more than the Available Stocks! ");
        this.disabled = true;
        inputTag.value = iStocks;
        }  
      
      else {

        const response = await fetch("{% url 'cart_update' %}", {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json',
          'X-Requested-With': 'XMLHttpRequest',
          'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify({
          productid: prodId,
          productqty: inputTag.value,
          csrfmiddlewaretoken: "{{csrf_token}}",
          action: 'post'
        })
      });

      const data = await response.json();
      if (data) {
        document.querySelector('#cart-qty').innerHTML = data.qty
        const uPrice = document.querySelector(`#prod-uprice${prodId}`).innerText
        total = (parseFloat(data.subtotal))
        document.querySelector('#subtotal').innerHTML = data.subtotal.toFixed(2)
        document.querySelector('#total').innerHTML = data.total.toFixed(2)
        document.querySelector(`#prod-tprice${prodId}`).innerText = (parseInt(inputTag.value) * parseFloat(uPrice)).toFixed(2);
      }

      }

      
    });
  }

 
</script>

{% endblock content %}