{% extends 'main2.html' %}
{% load static %}

{% block title %}Shop{% endblock title %}

{% block content %}

<style>
  @media (min-width: 1025px) {
    .h-custom {
      height: 100vh !important;
    }
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox
input[type=number] {
  -moz-appearance: textfield;

} */
</style>

<section id="test">
  <div class="container h-100 py-5">

    {% if cart_items %}
    <div class="row d-flex justify-content-center  h-100">
      <div class="col">

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="h5">Cart Items</th>
                <th scope="col">Product</th>
                <th scope="col">Category</th>
                <th scope="col">Variation</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Subtotal</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>

              {% for item in cart_items %}

              <tr class="items_cart" data-cart="{{item.id}}" data-index="{{item.products.id}}">
                <th scope="row">
                  <div class="d-flex align-items-center">
                    <img src="{{ item.products.product_image.url }}" class="img-fluid rounded-3" style="width: 120px;"
                      alt="Book">
                  </div>
                </th>
                <td class="class-middle">
                  <p class="mb-0 text-left" style="font-weight: 500;">{{ item.products.product_name }}</p>
                  <br>
                  <div class="mb-0 text-left">
                    <span><b>Remaining Stocks: </b></span> <span id="item_quantity{{item.id}}">
                      {% if item.variation_id %}
                      {{ item.variation_id.tempo_stocks_var }}
                      {% else %}
                      {{ item.products.tempo_stocks }}
                      {% endif %}
                    </span>
                    <br>
                    <span><b>Minimum Order: </b></span> <span
                      id="item_minimum{{item.id}}">{{ item.products.min_orders }}</span>
                  </div>
                </td>
                <td class="align-middle">
                  <p class="mb-0" style="font-weight: 500;">{{ item.products.category }}</p>
                </td>
                <td class="align-middle">
                  <p class="mb-0 text-center variations-text" id="vari{{item.id}}" style="font-weight: 500;"
                    data-variation="{{ item.variation_id.id }}">
                    {% if item.variation_id %}
                    {{ item.variation_id.name }}
                    {% else %}
                    N/A
                    {% endif %}
                  </p>
                </td>
                <td class="align-middle">
                  <div class="d-flex flex-row">
                    <button id="decrease-quantity{{item.id}}" {% if item.variation_id %}
                      data-quantity="{{item.variation_id.tempo_stocks_var}}" {% else %}
                      data-quantity="{{item.products.tempo_stocks}}" {% endif %} data-cart="{{item.id}}"
                      name="decreaseq" data-index="{{item.products.id}}" class="btn btn-link px-2 reduce-quantity"
                      onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                      <i class="fas fa-minus"></i>
                    </button>

                    <input id="qty-input{{item.id}}" data-cart="{{item.id}}" data-index="{{item.products.id}}" min="0"
                      name="quantity" value="{{item.qty}}" type="number" {% if item.variation_id %}
                      data-quantity="{{item.variation_id.tempo_stocks_var}}" {% else %}
                      data-quantity="{{item.products.tempo_stocks}}" {% endif %} data-qtysel="{{item.qty}}"
                      class="form-control form-control-sm item-qty ml-1" style="width: 70px;" />

                    <button id="increase-quantity{{item.id}}" data-cart="{{item.id}}" data-index="{{item.products.id}}"
                      {% if item.variation_id %} data-quantity="{{item.variation_id.tempo_stocks_var}}" {% else %}
                      data-quantity="{{item.products.tempo_stocks}}" {% endif %}
                      class="btn btn-link px-2 increase-quantity"
                      onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </td>
                <td class="align-middle">
                  <p id="prod-uprice{{item.id}}" class="mb-0" style="font-weight: 500;">
                    {{item.products.price|floatformat:2}}</p>
                </td>
                <td class="align-middle">
                  <p id="prod-tprice{{item.id}}" class="mb-0 subtotal" style="font-weight: 500;"
                    data-subtotal="{{ item.subtotal }}">{{item.subtotal|floatformat:2 }}</p>
                </td>
                <td class="align-middle">
                  <button id="remove-cart" data-cart="{{item.id}}" data-index="{{item.products.id}}"
                    data-variation="{{item.variation_id.id}}" class="btn btn-danger delete-button"
                    type="button">Remove</button>
                </td>
              </tr>

              {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>

        <!-- PAYMENT -->


        <div class="card shadow-2-strong mb-5 mb-lg-0" style="border-radius: 16px;" id="payment">
          <div class="card-body p-4">
            <form action="{% url 'create_order' %}" method="POST" id="checkout-form">
              <div class="row">

                {% csrf_token %}
                <div class="col-md-6 col-lg-4 col-xl-3 mb-4 mb-md-0 py-1" id="mop">

                  <div class="d-flex flex-row pb-4">
                    <div class="d-flex align-items-center pe-2 ml-3 mt-3">
                      <input class="form-check-input p-2" type="radio" name="modeOfPayment" id="stripe-payment-element"
                        value="Credit Card/Debit Card" aria-label="..." onclick="text(0)" checked />
                    </div>
                    <div class="rounded border w-100 p-3 mx-auto">
                      <p class="d-flex align-items-center mb-0">
                        <i class="fa fa-credit-card fa-2x text-dark pe-2"></i>Debit/Credit Card
                      </p>
                    </div>
                  </div>
                  <div class="d-flex flex-row">
                    <div class="d-flex align-items-center pe-2 ml-3 mt-3">
                      <input class="form-check-input p-2" type="radio" name="modeOfPayment" id="cash-on-delivery"
                        value="Cash on Delivery" aria-label="..." onclick="text(1)" />
                    </div>
                    <div class="rounded border w-100 p-3">
                      <p class="d-flex align-items-center mb-0">
                        <i class="fa fa-money fa-2x text-dark pe-2"></i>Cash on Delivery
                      </p>
                    </div>
                  </div>
                </div>

                <!--INPUT FIELDS-->

                <div class="col-9 mt-3" id="inputfields">
                  <div class="row">
                    <div class="col-12 col-xl-6">
                      <div class="form-floating mb-4 mb-xl-6" id="card-element">

                      </div>
                      <p id="card-error" role="alert"></p>
                    </div>
                  </div>
                </div>

                <!-- AMOUNT -->

                <div class="col-lg-4 col-xl-3" id="amount">
                  <div class="d-flex justify-content-between" style="font-weight: 500;">
                    <p class="mb-2">Subtotal</p>
                    <p id="subtotal" class="mb-2">{{cart_subtotal|floatformat:2}}</p>
                  </div>
                  <div id="" class="d-flex justify-content-between" style="font-weight: 500;">
                    <p class="mb-0">Shipping</p>
                    <p class="mb-0">50.00</p>
                  </div>

                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                    <p class="mb-2">Total</p>
                    <p id="total" class="mb-2">{{cart_total|floatformat:2}}</p>
                  </div>
                  <button id="submit_order">
                    <div class="spinner hidden" id="spinner" class="btn btn-primary btn-block btn-lg mt-3"></div>
                    <span id="button-text">Checkout</span>
                  </button>
                    <p class="result-message hidden" style="color:green;">
                      Payment succeeded
                    </p>
                  {% comment %} <button type="submit" id="checkout-button" class="btn btn-primary btn-block btn-lg mt-3">
                    Checkout
                  </button> {% endcomment %}

                </div>
                </form>


            {% else %}
            <div class="alert alert-warning mx-auto" role="alert" style="text-align: center; width: 40%;">
              Your cart is empty!
            </div>

            {% endif %}

          </div>
        </div>
      </div>
</section>
{% comment %} <form id="payment-form">
  <div id="card-element">
    <!--Stripe.js injects the Card Element-->
  </div>
  <button id="submit">
    <div class="spinner hidden" id="spinner"></div>
    <span id="button-text">Pay</span>
  </button>
  <p id="card-error" role="alert"></p>
  <p class="result-message hidden">
    Payment succeeded, see the result in your
    <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
  </p>
</form> {% endcomment %}
</div>
</div>
</div>
<script>

  const checkoutForm = document.querySelector('#checkout-form');

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  const items = []; 
  {% for i in cart_items %}
  items.push({
    id: '{{i.products.id}}',
    name: '{{i.products.product_name}}',
    unitPrice: {{i.products.price}},
    qty: {{ i.qty }}
  })
  {% endfor %}

  const csrftoken = getCookie('csrftoken');

  const stripe = Stripe("pk_test_51Mh8gnBQRaixNqnp4McU9hFOH7OSw8MsraUXXO8Kw9cVvsDR7mVtO8CLraKCTqkPoysDhU5hMTPra03IQlWJQ9ji009T8FJWy8");

  document.querySelector("#submit_order").disabled = true;

  const elements = stripe.elements();
  const style = {
    base: {
      color: "#32325d",
      fontFamily: 'Arial, sans-serif',
      fontSmoothing: "antialiased",
      fontSize: "16px",
      "::placeholder": {
        color: "#32325d"
      }
    },
    invalid: {
      fontFamily: 'Arial, sans-serif',
      color: "#fa755a",
      iconColor: "#fa755a"
    }
  };
  const card = elements.create("card", {
    style: style
  });
  
  card.mount("#card-element");
  card.on("change", function (event) {
    document.querySelector("#submit_order").disabled = event.empty;
    document.querySelector("#card-error").textContent = event.error ? event.error.message : "";
  });

  // const form = document.getElementById("payment-form");
  // checkoutForm.addEventListener('submit', function(e) {
  // e.preventDefault();


//   swal("Do you want to place your order?", {
//     buttons: ["Cancel", true],
//   }).then(data => {
//     if (data) {
//       if(this.elements.modeOfPayment.value === 'Credit Card/Debit Card'){
//         fetch("{% url 'create-payment-intent' %}", {
//           method: "POST",
//           headers: {
//             "Content-Type": "application/json",
//             'X-CSRFToken': csrftoken
//           },
//           body: JSON.stringify({
//             email: '{{request.user.email}}',
//             items: items
//           })
//         })
//         .then(function (result) {
//           return result.json();
//         })
//         .then(function (data) {
//           payWithCard(stripe, card, data.clientSecret);
//         })
//           .then(function (data) {
//             e.target.submit();
//           });
//       } else {
//         e.target.submit();
//       }
//     }
//   });
// });

  const form = document.getElementById("payment-form");
  checkoutForm.addEventListener('submit', function(e) {
  e.preventDefault();

swal("Do you want to place your order?", {
    buttons: ["Cancel", true],
  }).then(data => {
    if (data) {
      if(this.elements.modeOfPayment.value === 'Credit Card/Debit Card'){
        fetch("{% url 'create-payment-intent' %}", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            'X-CSRFToken': csrftoken
          },
          body: JSON.stringify({
            email: '{{request.user.email}}',
            items: items
          })
        })
        .then(function (result) {
          return result.json();
        })
        .then(function (data) {
          try{
            payWithCard(stripe, card, data.clientSecret);
            e.target.submit();
          }
          catch(e){
            console.log(e);
          }
        });
      } else {
        e.target.submit();
      }
    }
  });
});


  const payWithCard = function (stripe, card, clientSecret) {
    loading(true);
    stripe
      .confirmCardPayment(clientSecret, {
        payment_method: {
          card: card
        }
      })
      .then(function (result) {
        if (result.error) {
          showError(result.error.message);
        } else {
          orderComplete(result.paymentIntent.id);
        }
      });
  };

  const orderComplete = function (paymentIntentId) {
    loading(false);

    document.querySelector(".result-message").classList.remove("hidden");
    document.querySelector("#submit_order").disabled = true;
  };

  const showError = function (errorMsgText) {
    loading(false);
    const errorMsg = document.querySelector("#card-error");
    errorMsg.textContent = errorMsgText;
    setTimeout(function () {
      errorMsg.textContent = "";
    }, 4000);
  };

  const loading = function (isLoading) {
    if (isLoading) {
      document.querySelector("#submit_order").disabled = true;
      document.querySelector("#spinner").classList.remove("hidden");
      document.querySelector("#button-text").classList.add("hidden");
    } else {
      document.querySelector("#submit_order").disabled = false;
      document.querySelector("#spinner").classList.add("hidden");
      document.querySelector("#button-text").classList.remove("hidden");
    }
  };

  function disableBtn(disable) {
  var btn = document.getElementById("checkout-button");
  if (disable) {
    btn.setAttribute("disabled", "");
  } else {
    btn.removeAttribute("disabled");
  }
}

function text(val) {
  var x = document.getElementById("payment-form");
  if (val == 0) {
    disableBtn(true);
    x.style.display = "block";
  } else {
    disableBtn(false);
    x.style.display = "none";
  }
}

  const paymentOptions = document.getElementById("mop");
  const stripePaymentElement = document.getElementById("stripe-payment-element");

  paymentOptions.addEventListener("change", () => {
    if (document.getElementById("cash-on-delivery").checked) {
      document.querySelector("#submit_order").disabled = false;
    } else {
      document.querySelector("#submit_order").disabled = true;
    }
  });

  function text(x) {
    if (x == 0) {
      document.getElementById("inputfields").style.display = "block";
      document.getElementById("mop").className = "col-md-6";
      document.getElementById("payment-card").style.width = "100%"
      document.getElementById("payment-card").style.margin = "0";
      document.getElementById("amount").style.marginLeft = "0";
      document.getElementById("submit_order").style.width = "25%";
    } else {
      document.getElementById("amount").className = "col-md-6";
      document.getElementById("mop").className = "col-md-6";
      document.getElementById("inputfields").style.display = "none";
      document.getElementById("payment-card").style.width = "100%";
      document.getElementById("payment-card").style.margin = "auto";
      document.getElementById("amount").style.marginLeft = "40%";
      document.getElementById("submit_order").style.width = "10%";

      return;

    }
  }



  const deleteButtons = document.querySelectorAll('.delete-button');
  const increaseButtons = document.querySelectorAll('.increase-quantity');
  const decreaseButtons = document.querySelectorAll('.reduce-quantity');

  const inputFields = document.querySelectorAll('.item-qty')




  const inputs = document.querySelectorAll('.item-qty');

  for (const inp of inputs) {
    inp.addEventListener('keyup', async function (e) {
      let prodId = inp.dataset.index
      let cartId = inp.dataset.cart
      console.log(cartId)
      const inputTag = document.querySelector(`#qty-input${cartId}`)
      const iStocks = document.getElementById(`item_quantity${cartId}`);
      const iMinimum = document.getElementById(`item_minimum${cartId}`).innerText;
      document.getElementById(`increase-quantity${cartId}`).disabled = false

      let statusUpdate = ''


      if (parseInt(inputTag.value) > parseInt(inp.dataset.qtysel) && parseInt(inputTag.value) > parseInt(
          iMinimum)) {
        statusUpdate = 'increase'
      } else if (parseInt(inputTag.value) < parseInt(inp.dataset.qtysel) && parseInt(inputTag.value) > parseInt(
          iMinimum)) {
        statusUpdate = 'decrease'
      }


      setTimeout(() => {
        if (parseInt(inputTag.value) < parseInt(iMinimum)) {
          alert("Quantity Input is less than the Minimum Order! ");
          inputTag.value = iMinimum;
        } else if (parseInt(inputTag.value) > parseInt(iStocks.innerText)) {
          alert("Quantity Input is greater than the Available Stocks! ");
          inputTag.value = iMinimum;
        }
      }, 2000);

      const response = await fetch("{% url 'cart_update' %}", {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json',
          'X-Requested-With': 'XMLHttpRequest',
          'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify({
          productid: prodId,
          productqty: inp.value,
          cartId: cartId,
          status: statusUpdate,
          csrfmiddlewaretoken: "{{csrf_token}}",
          action: 'post'
        })
      });

      const data = await response.json();
      if (data) {
        console.log('cart')
        document.querySelector('#cart-qty').innerHTML = data.qty
        const uPrice = document.querySelector(`#prod-uprice${cartId}`).innerText
        total = (parseFloat(data.subtotal))
        document.querySelector('#subtotal').innerHTML = data.subtotal.toFixed(2)
        document.querySelector('#total').innerHTML = data.total.toFixed(2)
        document.querySelector(`#prod-tprice${cartId}`).innerText = (parseInt(inputTag.value) * parseFloat(
          uPrice)).toFixed(2);
        iStocks.innerText = data.new_quantity
      }
    });
  }

  // DELETE BUTTON

  for (const delBtn of deleteButtons) {
    delBtn.addEventListener('click', async function (e) {
      e.preventDefault();

      let prodId = delBtn.dataset.index
      let cartId = delBtn.dataset.cart
      const inputTag = document.querySelector(`#qty-input${cartId}`);


      const response = await fetch(`http://${window.location.hostname}:8000/cart/remove/`, {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json',
          'X-Requested-With': 'XMLHttpRequest',
          'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify({
          productid: prodId,
          productqty: inputTag.value,
          cartId: cartId,
          csrfmiddlewaretoken: "{{csrf_token}}",
          action: 'post'
        })
      });
      const data = await response.json();
      if (data) {
        const prodItem = document.querySelectorAll('.items_cart')
        for (const item of prodItem) {
          if (item.dataset.cart === cartId) {
            item.remove()
          }
        }
        if (data.qty === 0) {
          total = 0
          subtotal = 0;
          location.reload();
        } else {
          total = (parseFloat(data.subtotal) + 50.00).toFixed(2);
          subtotal = data.subtotal
        }

        document.querySelector('#cart-qty').innerHTML = data.qty
        document.querySelector('#subtotal').innerHTML = subtotal
        document.querySelector('#total').innerHTML = total

      }
    });
  }

  // DECREASE QUANTITY BUTTON 

  for (const dec of decreaseButtons) {
    dec.addEventListener('click', async function (e) {
      e.preventDefault();
      let prodId = dec.dataset.index
      let cartId = dec.dataset.cart
      const inputTag = document.querySelector(`#qty-input${cartId}`);
      const iStocks = document.getElementById(`item_quantity${cartId}`);
      const iMinimum = document.getElementById(`item_minimum${cartId}`).innerText;
      document.getElementById(`increase-quantity${cartId}`).disabled = false


      if (parseInt(inputTag.value) < parseInt(iMinimum)) {
        alert("Quantity Input is less then the Minimum Order! ");
        this.disabled = true;
        inputTag.value = iMinimum;
      } else {

        const response = await fetch("{% url 'cart_update' %}", {
          method: 'POST',
          credentials: 'same-origin',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'X-Requested-With': 'XMLHttpRequest',
            'X-CSRFToken': csrftoken,
          },
          body: JSON.stringify({
            productid: prodId,
            productqty: inputTag.value,
            cartId: cartId,
            status: 'decrease-btn',
            csrfmiddlewaretoken: "{{csrf_token}}",
            action: 'post'
          })
        });

        const data = await response.json();
        if (data) {
          document.querySelector('#cart-qty').innerHTML = data.qty
          const uPrice = document.querySelector(`#prod-uprice${cartId}`).innerText
          total = (parseFloat(data.subtotal))
          document.querySelector('#subtotal').innerHTML = data.subtotal.toFixed(2)
          document.querySelector('#total').innerHTML = data.total.toFixed(2)
          document.querySelector(`#prod-tprice${cartId}`).innerText = (parseInt(inputTag.value) * parseFloat(
            uPrice)).toFixed(2);
          iStocks.innerText = data.new_quantity
        }
      }
    });
  }

  for (const inc of increaseButtons) {
    inc.addEventListener('click', async function (e) {
      e.preventDefault();
      let prodId = inc.dataset.index
      let cartId = inc.dataset.cart
      const inputTag = document.querySelector(`#qty-input${cartId}`)
      const iStocks = document.getElementById(`item_quantity${cartId}`);
      const iMinimum = document.getElementById(`item_minimum${cartId}`).innerText;
      document.getElementById(`decrease-quantity${cartId}`).disabled = false


      if (parseInt(inputTag.value) > parseInt(iStocks)) {
        alert("Quantity Input is more than the Available Stocks! ");
        this.disabled = true;
        inputTag.value = iStocks.innerText;
      } else {

        const response = await fetch("{% url 'cart_update' %}", {
          method: 'POST',
          credentials: 'same-origin',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'X-Requested-With': 'XMLHttpRequest',
            'X-CSRFToken': csrftoken,
          },
          body: JSON.stringify({
            productid: prodId,
            productqty: inputTag.value,
            cartId: cartId,
            status: 'increase-btn',
            csrfmiddlewaretoken: "{{csrf_token}}",
            action: 'post'
          })
        });

        const data = await response.json();
        if (data) {
          document.querySelector('#cart-qty').innerHTML = data.qty
          const uPrice = document.querySelector(`#prod-uprice${cartId}`).innerText
          total = (parseFloat(data.subtotal))
          document.querySelector('#subtotal').innerHTML = data.subtotal.toFixed(2)
          document.querySelector('#total').innerHTML = data.total.toFixed(2)
          document.querySelector(`#prod-tprice${cartId}`).innerText = (parseInt(inputTag.value) * parseFloat(
            uPrice)).toFixed(2);
          iStocks.innerText = data.new_quantity
        }

      }


    });
  }
</script>

{% endblock content %}