{% extends 'main.html' %}
{% load static %}
{% block title %}Registration - Wholesaler{% endblock title %}
{% block content %}
<style>
  #image{
    width: 50%;
    height: 56%;
    border-radius: 50%;
    border: solid;
    border-color:#404040;
    margin: 0 auto;
    display: block;
}
</style>

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-md-5 card text-center">
      <form  action = "" method = "POST" id="wholesaler_edit_profile" enctype="multipart/form-data">
        {% csrf_token %}
      <h5 class="mt-3">Profile Picture</h5>
        <img id="image" thumbnail src="{{form.instance.wholesaler_image.url}}">
      <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
      <br>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
        Upload new image
      </button>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
          <!--Content-->
          <div class="modal-content text-center">
            <!--Header-->
            <div class="modal-header d-flex justify-content-center">
              <p class="heading">Upload your image</p>
            </div>
            <!--Body-->
            <div class="modal-body" id="wholesaler_image">
                {{form.wholesaler_image}}
            </div>
            <div class="modal-footer flex-center">
              <a type="button" class="btn btn-primary btn-block" data-bs-dismiss="modal">Yes</a>
              <a type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="card card-profile">
        <div class="card-body pt-0">
          <h5 class="mt-3 text-center">Account Details</h5>
          <div class="text-center mt-4">
            <div class="row gx-3 mb-3">
              <div class="col-md-6">
                  <label class="small mb-1" for="inputFirstName"> Business Name:</label>
                {{form.business_name}}
              </div>
              <div class="col-md-6">
                  <label class="small mb-1" for="inputLastName">Business Address:</label>
                {{form.address}}
              </div>
            </div>
            <div class="row gx-3 mb-3">
              <div class="col-md-6">
                  <label class="small mb-1" for="inputEmailAddress">Contact Name:</label>
                {{form.contact_name}}
              </div>

              <div class="col-md-6">
                  <label class="small mb-1" for="inputPhone">Contact Number:</label>
                {{form.contact_number}}
              </div>
            </div>
            <button class="btn btn-success btn-sm ms-auto">Update</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  </div>
</div>

<script>

  const form = document.querySelector('#wholesaler_edit_profile');
  
  form.addEventListener('submit',function(e){

    var format = /^\d{11}$/;
    const number = document.querySelector('#id_contact_number')

    if (number.value.match(format))
    {
      return true;
    }

    else {
      alert("Please enter an 11-digit phone number");
      document.querySelector('#id_contact_number').style.borderColor = "red";
      e.preventDefault(); 
    }
  
  } )

  const imageInput = document.querySelector('#id_wholesaler_image');

  imageInput.addEventListener('change', function() {
  const imagePreview = document.querySelector('#image');
  imagePreview.src = URL.createObjectURL(this.files[0]);
});


</script>

      
{% endblock %}