{% extends 'main.html' %}
{% load static %}
{% block title %}View Profile - Wholesaler{% endblock title %}
{% block content %}

<style>
  #image{
    width: 50%;
    height: 75%;
    border-radius: 50%;
    border: solid;
    border-color:#404040;
    margin: 0 auto;
    display: block;
}
</style>

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-md-5 card text-center">
      <h5 class="mt-3">Profile Picture</h5>
      <img src="{{wholesaler.wholesaler_image.url}}" id="image">
    </div>
    <div class="col-md-6">
      <div class="card card-profile">
        <div class="card-body pt-0">
          <h5 class="mt-3 text-center">Account Details</h5>
          <div class="text-center mt-4">
            <div class="row gx-3 mb-3">

              <div class="col-md-6">
                  <label class="small mb-1" for="inputFirstName"> Business Name:</label>
                  <p>{{wholesaler.business_name}}</p>
              </div>

              <div class="col-md-6">
                  <label class="small mb-1" for="inputEmailAddress">Contact Name:</label>
                  <p>{{wholesaler.contact_name}}</p>
              </div>

              <div class="col-md-6">
                  <label class="small mb-1" for="inputPhone">Contact Number:</label>
                  <p>{{wholesaler.contact_number}}</p>
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputLastName">Business Address:</label>
                <p>{{wholesaler.address}}, {{wholesaler.region}}, {{wholesaler.city}}</p>
              </div>
            </div>
            <a href = "{% url 'wholesaler_edit_profile'%}" class="btn btn-primary">Edit Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      

{% endblock %}