{% extends 'main.html' %}
{% load static %}
{% block title %}View Profile - Wholesaler{% endblock title %}
{% block content %}

<style>
    #image{
     width: 200px;
     height: 200px;
     border-radius: 50%;
     border: solid;
     border-color:black;
     margin: 0 auto;
     display: block;
 }

  .btn-ts {
  font-size: 14px !important;
  }

</style>

<div class="container-fluid py-4">
  <div style="display:flex; flex-direction: row; justify-content: center; ">
    <div class="col-md-5 card text-center">
      <h5 class="mt-4 mb-3">Profile Picture</h5>
      <img src="{{wholesaler.wholesaler_image.url}}" id="image">
    </div>
    <div class="col-md-6" style="margin-left: 15px;">
      <div class="card card-profile">
        <div class="card-body">
          <h5 class="text-center">Account Details</h5>
          <div class="mt-4">
              <div class="col">
                <p> <span style="font-weight:bold; color:#344767; font-size:0.875em;">Business Name:</span> {{wholesaler.business_name}}</p>
              </div>
              <div class="col">
                <p><span style="font-weight:bold; color:#344767; font-size:0.875em;">Contact Name:</span> {{wholesaler.contact_name}}</p>
              </div>
              <div class="col">
                <p><span style="font-weight:bold; color:#344767; font-size:0.875em;">Contact Number:</span> {{wholesaler.contact_number}}</p>
              </div>
            
            <div class="col">
              <p><span style="font-weight:bold; color:#344767; font-size:0.875em;">Business Address:</span> {{wholesaler.address}}, {{wholesaler.region}}, {{wholesaler.city}}</p>
            </div>
          </div>
              <div class="d-flex justify-content-center align-items-center">
                <a href="{% url 'wholesaler_edit_profile'%}" class="btn-ts btn btn-primary">Edit Details</a>
            </div>
        </div>
      </div>
    
    </div>
  </div>
</div>


{% endblock %}