{% extends 'main.html' %}
{% block title %}{% endblock title %}

{% block content %}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="d-flex card mb-4">
                <section class="product_section layout_padding">
                    <div class="container">
                        <div class="heading_container heading_center">
                            <div class="ms-auto">
                                <div class="col-lg-5 ">
                                    &nbsp;
                                    <form action="{% url 'display_orders' %}" method="GET" id="searchForm">
                                        <div class="form-group has-search">
                                            <input type="search" value="{{ search_query }}" class="form-control"
                                                name="q" placeholder="Search Orders">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-header pb-0">
                        <div class="d-flex align-items-center">
                            <p class="mb-0">Orders</p>
                        </div>
                    </div>

                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th
                                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Reference Number</th>
                                        <th
                                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                            Business Name</th>
                                        <th
                                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Order Date</th>
                                        <th
                                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Order Status</th>
                                        <th
                                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Payment Method</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                    <tr>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0 text-center">
                                                {{ order.reference_number }}</p>
                                        </td>
                                        <td>
                                            <p class="text-center text-xs font-weight-bold mb-0">
                                                {{ order.business_name }}</p>
                                        </td>
                                        <td class="align-middle text-center">
                                            <p class="text-xs font-weight-bold mb-0">{{ order.created }}</p>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <span class="badge badge-sm bg-gradient-success">{{order.status}}</span>
                                        </td>
                                        <td>
                                            <p class="text-center text-xs font-weight-bold mb-0">{{ order.mode_of_payment }}
                                            </p>
                                        </td>
                                        <td>
                                            <a class="btn btn-link text-dark text-xs px-2 mb-0" href="{% url 'order_details' order.id %}"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>View Details</a>
                                        </td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}