{% extends 'main.html' %}
{% load static %}

{% block title %}Products{% endblock title %}

{% block content %}



<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive p-0">
      <div class="card mb-4">

        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-primary th-new font-weight-bolder opacity-7">
                      Reference ID: <p class="text-dark th-new font-weight-bolder">{{ order.reference_number }}</p>
                    </th>

                      <th class="text-uppercase text-primary th-new font-weight-bolder opacity-7 ps-2">
                        Business Name:<p class="text-dark th-new font-weight-bolder">{{ order.business_name }}</p>
                      </th>
                      <th class="text-uppercase text-primary th-new font-weight-bolder opacity-7 ps-2">
                        Address: <p class="text-dark th-new font-weight-bolder">{{ order.address }}</p>
                      </th>
                      <th class="text-uppercase text-primary th-new font-weight-bolder opacity-7 ps-2">
                        Status: <p class="text-dark th-new font-weight-bolder">{{ order.status }}</p>
                      </th>

                    </tr>
                  </thead>
                </table>
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-dark th-new font-weight-bolder opacity-7">Product
                      </th>
                      <th class="text-center text-uppercase text-dark th-new font-weight-bolder opacity-7 ps-2">
                        Quantity</th>
                      <th class="text-center text-uppercase text-dark th-new font-weight-bolder opacity-7">Unit Price
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in order_items %}
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <figure>
                              <img src="{{ item.product.product_image.url }}" class="avatar avatar-sm me-3 mt-2"
                                alt="user1">
                            </figure>
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-2  ">{{ item.product.product_name }}</h6>

                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-center  font-weight-bold mb-0">{{ item.quantity}}</p>
                      </td>
                      <td>
                        <p class="text-center  font-weight-bold mb-0">₱{{ item.price}}</p>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!---Another table-->

    <div class="row">
      <div class="col-12">
        <div class="card mb-4 w-70 mx-auto">
          <div class="card-body px-0 pt-2 pb-0">
           
            <div class="container-fluid py-4">
              <h5 class="mb-0 container-fluid">Shipment Status:</h5>
              <div class="card-header pb-0">
              
                <form action="" method="POST">
                  {% csrf_token %}
                  <div class="row">
                    <div class="d-flex justify-content-between ">
                      <div class="form-group col-lg-8">
                        {% for field in form %}
                        {{ field }}
                        {% endfor %}
                      </div>
                      <p class="text-dark font-weight-bold">Total Amount: 
                        <span class="text-md text-primary font-weight-bold">₱{{ order.total_paid }}</span>
                      </p>
                    </div>
                  </div>
                  <br>
                  <div class="position-absolute bottom-0 end-5">
                  <button type="submit" class="btn btn-success btn-md ms-auto">Update Order Status</button>
                </div>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>
    {% endblock content %}