{% extends 'main.html' %}
{% block title %}Orders{% endblock title %}

{% block content %}

<style>
    p {
        font-size: 14px !important;
    }
</style>

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="d-flex card mb-4">
                <section class="product_section layout_padding">
                    <div class="mx-4">
                        <div class="heading_container heading_center">
                            <div class="ms-auto d-flex align-items-center">
                                <form action="{% url 'display_orders' %}" method="GET" id="searchForm">
                                    <div class="input-group" style="display: flex;">
                                        <span class="input-group-text text-body"><i class="fas fa-search"
                                                aria-hidden="true"></i></span>
                                        <input type="search" value="{{ search_query }}" class="form-control" name="q"
                                            placeholder="Search Orders">
                                    </div>
                                </form>
                                <select class="form-select" id="filter_category" name='' aria-label="Default select example"
                                    style="margin-left: 10px;width: 130px; height: 40px;">
                                    <option selected disabled> Filter Status: </option>
                                    <option value="pending"
                                        {% if request.GET.category and request.GET.category == "pending" %}selected{% endif %}>
                                        Pending</option>
                                    <option value="preparing"
                                        {% if request.GET.category and request.GET.category == "preparing" %}selected{% endif %}>
                                        Preparing</option>
                                    <option value="shipped"
                                        {% if request.GET.category and request.GET.category == "shipped" %}selected{% endif %}>
                                        Shipping</option>
                                    <option value="completed"
                                        {% if request.GET.category and request.GET.category == "completed" %}selected{% endif %}>
                                        Completed</option>
                                </select>
                                <select class="form-select" id="filter_method" aria-label="Default select example"
                                    style="margin-left: 10px;width: 220px; height: 40px;">
                                    <option selected disabled> Filter Payment Method: </option>
                                    <option value="Credit Card/Debit Card"
                                        {% if request.GET.method and request.GET.method == "Credit Card/Debit Card" %}selected{% endif %}>
                                        Credit Card/Debit Card</option>
                                    <option value="Cash on Delivery"
                                        {% if request.GET.method and request.GET.method == "Cash on Delivery" %}selected{% endif %}>
                                        Cash on Delivery</option>
                                </select>

                                <button type="button" class="ms-auto mt-4 btn btn-primary mb-3" data-bs-toggle="modal"
                                    data-bs-target="#RegisterRetailer">
                                    <i class='fas fa-chart-area'></i> Generate Sales Report</button>
                                &nbsp; &nbsp;

                                <div class="modal fade" id="RegisterRetailer" data-bs-backdrop="static"
                                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel">Select Sales Period
                                                </h5>
                                            </div>
                                            <div class="modal-body">
                                                <form action="{% url 'sales_report' %}" method="post">
                                                    {% csrf_token %}
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <label for="year">Year</label>
                                                            <select class="form-select" name="year" id="year" required>
                                                                <option value="" selected disabled>Select Year</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-4">
                                                            <label for="month">Month</label>
                                                            <select class="form-select" name="month" id="month"
                                                                required>
                                                                <option value="" selected disabled>Select Month</option>
                                                                <option value="1">January</option>
                                                                <option value="2">February</option>
                                                                <option value="3">March</option>
                                                                <option value="4">April</option>
                                                                <option value="5">May</option>
                                                                <option value="6">June</option>
                                                                <option value="7">July</option>
                                                                <option value="8">August</option>
                                                                <option value="9">September</option>
                                                                <option value="10">October</option>
                                                                <option value="11">November</option>
                                                                <option value="12">December</option>
                                                            </select>
                                                        </div>

                                                        <div class="col-4">
                                                            <label for="week">Week</label>
                                                            <select class="form-select" name="week" id="week" required>
                                                                <option value="" selected disabled>Select Week</option>
                                                                <option value="1">Week 1</option>
                                                                <option value="2">Week 2</option>
                                                                <option value="3">Week 3</option>
                                                                <option value="4">Week 4</option>
                                                            </select>
                                                        </div>
                                                    </div>




                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary"><i
                                                        class='fas fa-chart-area'></i> Generate</button>
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="card-body px-0 pt-2 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mt-2 mb-2">
                                <thead style="background-color: white !important;">
                                    <tr>
                                        <th
                                            class="text-center text-uppercase text-primary th-new font-weight-bolder opacity-7">
                                            Ref No.</th>
                                        <th
                                            class="text-center text-uppercase text-primary th-new font-weight-bolder opacity-7 ps-2">
                                            Business Name</th>
                                        <th
                                            class="text-center text-uppercase text-primary th-new font-weight-bolder opacity-7">
                                            Order Date</th>
                                        <th
                                            class="text-center text-uppercase text-primary th-new font-weight-bolder opacity-7">
                                            Order Status</th>
                                        <th
                                            class="text-center text-uppercase text-primary th-new font-weight-bolder opacity-7">
                                            Payment Method</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                    <tr>
                                        <td>
                                            <p class=" font-weight-bold mb-0 text-center">
                                                {{ order.reference_number }}</p>
                                        </td>
                                        <td>
                                            <p class="text-center  font-weight-bold mb-0">
                                                {{ order.business_name }}</p>
                                        </td>
                                        <td class="align-middle text-center">
                                            <p class=" font-weight-bold mb-0">{{ order.created }}</p>
                                        </td>

                                        <td class="align-middle text-center text-sm">
                                            {%if order.status == "pending"%}
                                            <span class="badge badge-sm bg-primary">{{order.status}}</span>
                                            {% endif %}

                                            {%if order.status == "preparing"%}
                                            <span class="badge badge-sm bg-info">{{order.status}}</span>
                                            {% endif %}

                                            {%if order.status == "shipped"%}
                                            <span class="badge badge-sm bg-warning">{{order.status}}</span>
                                            {% endif %}

                                            {%if order.status == "completed"%}
                                            <span class="badge badge-sm bg-success">{{order.status}}</span>
                                            {% endif %}

                                        </td>

                                        <td>
                                            <p class="text-center  font-weight-bold mb-0">{{ order.mode_of_payment }}
                                            </p>
                                        </td>
                                        <td>
                                            <a class="btn btn-link text-dark  px-2 mb-0"
                                                href="{% url 'order_details' order.id %}"><i
                                                    class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>View
                                                Details</a>
                                        </td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% include 'w-pagination.html' with queryset=orders custom_range=custom_range %}
                    </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
<script>
    var max = new Date().getFullYear(),
        min = max - 99,
        select = document.getElementById('year');

    for (var i = max; i >= min; i--) {
        var opt = document.createElement('option');
        opt.value = i;
        opt.innerHTML = i;
        select.appendChild(opt);
    }
</script>

{% endblock content %}