{% extends 'subscription.html' %}
{% load static %}
{% block title %}Plan{% endblock title %}
{% block content %}

<style>
 .cd-select{
    border-radius: 5% !important;
    margin: auto;
  }
</style>

<header class="cd-header" style="margin-top: 20px;">
  <div class="card-header">
    <h1>Pricing Tables</h1>
  </div>
</header>

<div class="cd-pricing-container cd-has-margins">
  <ul class="cd-pricing-list">
    <li>
      <header class="cd-pricing-header">
        <h2>MONTHLY</h2>

        <div class="cd-price">
          <span class="cd-currency">₱</span>
          <span class="cd-value">10,500</span>
          <span class="cd-duration">mo</span>
        </div>
      </header>

      <div class="cd-pricing-body">
        <ul class="cd-pricing-features">
          <li><em>Demand Forecasting using Machine Learning</em></li>
          <li><em>Order Management</em></li>
          <li><em>Inventory Management</em></li>
          <li><em>Retailer Management</em></li>
          <li><em>Order Creation Portal </em></li>
          <li><em>Sales Analytics</em></li>
          <li><em>System Personalization</em></li>
          <li><em>Business Name Domain</em></li>
          <li><em></em></li>
        </ul>
      </div>

      <footer class="cd-pricing-footer">
        <form action="{% url 'checkout_session_payment'%}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="lookup_key" value="monthly" />
          <button class="cd-select"  id="monthly" type="submit" disabled>Subscribe</button>
        </form>
      </footer>
    </li>
    <li class="cd-popular">
      <header class="cd-pricing-header">
        <h2>SEMI-ANNUALLY (6 Months)</h2>

        <div class="cd-price">
          <span class="cd-currency">₱</span>
          <span class="cd-value">9,450</span>
          <span class="cd-duration">mo</span>
        </div>
      </header>

      <div class="cd-pricing-body">
        <ul class="cd-pricing-features">
          <li><em>10% Less than original price</em></li>
          <li><em>Demand Forecasting using Machine Learning</em></li>
          <li><em>Order Management</em></li>
          <li><em>Inventory Management</em></li>
          <li><em>Retailer Management</em></li>
          <li><em>Order Creation Portal </em></li>
          <li><em>Sales Analytics</em></li>
          <li><em>System Personalization</em></li>
          <li><em>Business Name Domain</em></li>
        </ul>
      </div>

      <footer class="cd-pricing-footer">
        <form action="{% url 'checkout_session_payment'%}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="lookup_key" value="Semi" />
          <button class="cd-select"  id="semi" type="submit" disabled>Subscribe</button>
        </form>
      </footer>
    </li>
    <li>
      <header class="cd-pricing-header">
        <h2>ANNUALLY (12 Months)</h2>

        <div class="cd-price">
          <span class="cd-currency">₱</span>
          <span class="cd-value">8,925</span>
          <span class="cd-duration">mo</span>
        </div>
      </header>

      <div class="cd-pricing-body">
        <ul class="cd-pricing-features">
          <li><em>15% Less than original price</em></li>
          <li><em>Demand Forecasting using Machine Learning</em></li>
          <li><em>Order Management</em></li>
          <li><em>Inventory Management</em></li>
          <li><em>Retailer Management</em></li>
          <li><em>Order Creation Portal </em></li>
          <li><em>Sales Analytics</em></li>
          <li><em>System Personalization</em></li>
          <li><em>Business Name Domain</em></li>
        </ul>
      </div>

      <footer class="cd-pricing-footer">
        <form action="{% url 'checkout_session_payment'%}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="lookup_key" value="Annually" />
          <button class="cd-select"  id="annually" type="submit" disabled>Subscribe</button>
        </form>
      </footer> 
    </li>
  </ul>
    <div style="display: flex; align-items: center; justify-content: center;">
      <input type="checkbox" id="term" name="terms" style="margin-right: 10px;" required>
      <a href="{% url 'terms_condition' %}">Terms and Condition</a>
    </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', async () => {
  let searchParams = new URLSearchParams(window.location.search);
  if (searchParams.has('session_id')) {
    const session_id = searchParams.get('session_id');
    document.getElementById('session-id').setAttribute('value', session_id);
  }
});

const monthly = document.getElementById("monthly");
const semi = document.getElementById("semi");
const annually = document.getElementById("annually");
const checkbox = document.getElementById("term");


checkbox.addEventListener('change', () => {
  if (checkbox.checked) {
    semi.disabled = false;
    annually.disabled = false;
    monthly.disabled = false;
  } else {
    semi.disabled = true;
    annually.disabled = true;
    monthly.disabled = true;
  }
});

</script>
	

{% endblock content%}