{% extends 'subscription.html' %}
{% load static %}
{% block title %}Plan{% endblock title %}
{% block content %}

<style>
  #checkout-and-portal-button{
    border-radius: 5% !important;
  }
</style>

<header class="cd-header" style="margin-top: 20px;">
  <div class="card-header">
    <h1>Pricing Tables</h1>
  </div>
</header>

<div class="cd-pricing-container">
  <ul class="cd-pricing-list">
    <li class="cd-popular" style="margin-left: 390px;">
      <header class="cd-pricing-header">
        <h2>MONTHLY</h2>

        <div class="cd-price">
          <span class="cd-currency">₱</span>
          <span class="cd-value">200</span>
          <span class="cd-duration">mo</span>
        </div>
      </header> <!-- .cd-pricing-header -->
      <form action="{% url 'checkout_session_payment'%}" method="POST">
      <div class="cd-pricing-body">
        <ul class="cd-pricing-features">
          <li><em>Demand Forecasting using Machine Learning</em></li>
          <li><em>Order Management</em></li>
          <li><em>Inventory Management</em></li>
          <li><em>Retailer Management</em></li>
          <li><em>Order Creation Portal </em></li>
          <li><em>Sales Analytics</em></li>
          <li><em>System Personalization</em></li>
          <li><em>Business Name Domain</em></li>
          <li><input type="checkbox" id="terms" name="terms" required>
            <a href="{% url 'terms_condition' %}">Terms and Condition</a>
          </li>
        </ul>
      </div> <!-- .cd-pricing-body -->

      <footer class="cd-pricing-footer">
        
          {% csrf_token %}

          <input type="hidden" name="lookup_key" value="hive" />
          <button class="cd-select"  id="checkout-and-portal-button" type="submit" >Checkout</button>
        </form>
      </section>
      </footer> <!-- .cd-pricing-footer -->
    </li>

  </ul> <!-- .cd-pricing-list -->
</div> <!-- .cd-pricing-container -->

<script>
  document.addEventListener('DOMContentLoaded', async () => {
  let searchParams = new URLSearchParams(window.location.search);
  if (searchParams.has('session_id')) {
    const session_id = searchParams.get('session_id');
    document.getElementById('session-id').setAttribute('value', session_id);
  }
});
</script>
	

{% endblock content%}