{% extends 'admin.html' %}
{% load static %}
{% block title %}Registration - Admin{% endblock title %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <a href="javascript:history.go(-1);"><i class="far fa-arrow-alt-circle-left py-4 ps-lg-3" style="color:white; font-size: larger;" aria-hidden="true"></i></a>
    </div>
   
</nav>

<div class="panel-header panel-header-sm">
  <h2 class="card-title text-white text-start mt-lg-0">&nbsp; &nbsp; <Strong>Registration</Strong></h2>
</div>
<br>
<div class="content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Register Admin</h5>
        </div>
        <div class="card-body">
          <form method = "POST" >
            {% csrf_token %}
            <div class="row col-md-12">
              <div class="col">
                <div class="form-group">
                  <label class="font-weight-bold" style="color:#342B09;"><h6>First Name</h6></label>
                  {{form.first_name}}
                  {% if form.first_name.errors %}
                  <div style="color:red;">{{form.first_name.errors}}</div>
                  {% endif %}
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="font-weight-bold" style="color:#342B09;"><h6>Last Name</h6></label>
                  {{form.last_name}}
                  {% if form.last_name.errors %}
                  <div style="color:red;">{{form.last_name.errors}}</div>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="font-weight-bold" style="color:#342B09;"><h6>Email</h6></label>
                {{form.email}}
                {% if form.last_name.errors %}
                <div style = "color:red;">
                  {{form.last_name.errors}} 
                </div>
                {% endif %}
              </div>
            </div>
            
            <div class="col-md-12">
              <div class="form-group">
                <label class="font-weight-bold" style="color:#342B09;"><h6 class="font-weight-bold"6>User Name</h6></label>
                {{form.username}}
                {% if form.username.errors %}
                <div style = "color:red;">
                  {{form.username.errors}} 
                </div>
                {% endif %}
              </div>
            </div>
            
            <div class="col-md-12">
              <div class="form-group">
                <label class="font-weight-bold" style="color:#342B09;"><h6 class="font-weight-bold">Password</h6></label>
                {{form.password1}}
                {% if form.password1.errors %}
                <div style = "color:red;">
                  {{form.password1.errors}} 
                </div>
                {% endif %}
              </div>
            </div>
            
            <div class="col-md-12">
              <div class="form-group">
                <label style="color:#342B09;"><h6 class="font-weight-bold">Confirm Password</h6></label>
                {{form.password2}}
                {% if form.password2.errors %}
                <div style = "color:red;">
                  {{form.password2.errors}} 
                </div>
                {% endif %}
              </div>
            </div>
              <div class="form-group d-flex align-items-center justify-content-center">
                <button type="submit" class="form-control btn btn-info" style="width: 100px;">Submit</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <section class="ftco-section">
    <div class="container">
            
            <div class=" p-4 p-lg-10">
              <div class="card pl-2 mx-auto">
                <div class="card-header mx-auto">
                  <h5 class="title">Edit Profile</h5>
                </div>
                <div class="card-body mx-auto">
            
                    <form class="mx-1 mx-md-4" method = "POST">
                          {% csrf_token %}
                              

                      
                      <div class="form-group rounded-9 {% if form.email.errors %} error {% endif %}">
                        <label class="label ">Email Address</label>
                        {{form.email}}
                        {% if form.email.errors %}
                        <div style = "color:red;">
                          {{form.email.errors}} 
                        </div>
                        {% endif %}
                      </div>

                      
                      
                      <div class="form-group mb-3 {% if form.username.errors %} error {% endif %}">
                        <label class="label">User Name</label>
                        {{form.username}}
                        {% if form.username.errors %}
                        <div style = "color:red;">
                          {{form.username.errors}} 
                        </div>
                        {% endif %}
        
                      </div>
        
                      <div class="form-group mb-3 {% if form.password1.errors or form.password2.errors %} error {% endif %}">
                        <label class="label" for="password">Password</label>
                        <div class="input-group">
                          {{form.password1}}
                          <div class="input-group-append">
                            <span class="input-group-text">
                              <i class="fa fa-eye" id="togglePassword1" style="cursor: pointer;"></i>
                            </span>
                          </div>
                        </div>
                        {% if form.password1.errors %}
                            <div style = "color:red;">
                              {{form.password1.errors}} 
                            </div>
                          {% endif %}
                      </div>
        
                      <div class="form-group mb-3">
                        <label class="label" for="password">Confirm Password</label>
                        <div class="input-group {% if form.password1.errors or form.password2.errors %} error {% endif %}">
                          {{form.password2}}
                          <div class="input-group-append">
                            <span class="input-group-text">
                              <i class="fa fa-eye" id="togglePassword2" style="cursor: pointer;"></i>
                            </span>
                          </div>
                        </div>
                        {% if form.password2.errors %}
                            <div style = "color:red;">
                              {{form.password2.errors}} 
                            </div>
                          {% endif %}
                      </div> 
        
                      <div class="message"></div>
                      <br>
                      <div class="form-group">
                        <button type="submit" class="form-control btn btn-primary submit px-3">Register</button>
                      </div>
              </form>
            </div>
          </div>
          <br>
          <br> -->
        
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content%}