{% extends 'admin.html' %}
{% load static %}
{% block title %}Registration - Admin{% endblock title %}
{% block content %}

<style>
  #id_password1 {
      width: 100%;
  }
  #id_password2 {
      width: 100%;
  }
</style>


<nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <a href="javascript:history.go(-1);"><i class="far fa-arrow-alt-circle-left py-4 ps-lg-3" style="color:white; font-size: larger;" aria-hidden="true"></i></a>
    </div>
   
</nav>

<div class="panel-header panel-header-sm">
  <h2 class="card-title text-white text-start mt-lg-0">&nbsp; &nbsp; <Strong>Registration</Strong></h2>
</div>
<br>
<div class="content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Register Admin</h5>
        </div>
        <div class="card-body">
          <form method = "POST" >
            {% csrf_token %}
            <div class="row col-md-12">
              <div class="col">
                <div class="form-group">
                  <label class="font-weight-bold" style="color:#342B09;"><h6>First Name</h6></label>
                  {{form.first_name}}
                  {% if form.first_name.errors %}
                  <div style="color:red;">{{form.first_name.errors}}</div>
                  {% endif %}
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="font-weight-bold" style="color:#342B09;"><h6>Last Name</h6></label>
                  {{form.last_name}}
                  {% if form.last_name.errors %}
                  <div style="color:red;">{{form.last_name.errors}}</div>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="font-weight-bold" style="color:#342B09;"><h6>Email</h6></label>
                {{form.email}}
                {% if form.last_name.errors %}
                <div style = "color:red;">
                  {{form.last_name.errors}} 
                </div>
                {% endif %}
              </div>
            </div>
            
            <div class="col-md-12">
              <div class="form-group">
                <label class="font-weight-bold" style="color:#342B09;"><h6 class="font-weight-bold">User Name</h6></label>
                {{form.username}}
                {% if form.username.errors %}
                <div style = "color:red;">
                  {{form.username.errors}} 
                </div>
                {% endif %}
              </div>
            </div>
            

            <div class="col-md-12">
              <div class="form-group">
                <label class="font-weight-bold" style="color:#342B09;"><h6 class="font-weight-bold">Password</h6></label>
                
    
                  {{form.password1}}

                
              
        
                {% if form.password1.errors %}
                <div style = "color:red;">
                  {{form.password1.errors}} 
                </div>
                {% endif %}
              </div>
            </div>
           

            <div class="col-md-12">
              <div class="form-group">
                <label class="font-weight-bold" style="color:#342B09;"><h6 class="font-weight-bold">Confirm Password</h6></label>
                
              
                  {{form.password2}}

                
          
                {% if form.password2.errors %}
                <div style = "color:red;">
                  {{form.password2.errors}} 
                </div>
                {% endif %}
              </div>
            </div>

              <div class="form-group d-flex align-items-center justify-content-center">
                <button type="submit" class="form-control btn btn-info" style="width: 100px;">Submit</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

        
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>

  const togglePassword = document.querySelector('#togglePassword');
  const togglePassword2 = document.querySelector('#togglePassword2');
  const passwordInput = document.querySelector('#id_password1');
  const passwordInput2 = document.querySelector('#id_password2');

  togglePassword.addEventListener('click', function (e) {

    const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
    passwordInput.setAttribute('type', type);
    this.classList.toggle('fa-eye-slash');
});

togglePassword2.addEventListener('click', function (e) {

const type = passwordInput2.getAttribute('type') === 'password' ? 'text' : 'password';
passwordInput2.setAttribute('type', type);
this.classList.toggle('fa-eye-slash');
});

 </script>

{% endblock content%}