{% extends 'admin.html' %}

{% block content %}

<div class="panel-header panel-header-sm">
    <h2 class="card-title text-white text-start mt-lg-0">&nbsp; &nbsp; <Strong>Dashboard</Strong></h2>
</div>
<br>
    <div class ="container">
        <div class="content">
            <div class="row">
              <div class="col-lg-6">
                <div class="card card-chart">
                  <div class="card-header">
                    <h4 class="card-title"><i class="fas fa-handshake text-lg opacity-100" style="color: #342809;"></i> &nbsp; Transactions</h4>
                    
                  </div>
                  <div class="card-body">
                   
                  </div>
                  <div class="card-footer">
                    
                  </div>
                </div>
              </div>
            
           
              <div class="col-lg-6 col-md-6">
                <div class="card card-chart">
                  <div class="card-header">
                    <h4 class="card-title"><i class="fas fa-warehouse text-lg opacity-100" style="color: #342809;"></i> &nbsp; Wholesalers</h4>
                  </div>
                  <div class="card-body">
                  </div>
                  <div class="card-footer">
                   
                  </div>
                </div>
              </div>
            </div>

            <div class="container py-4">
                <div class="row">
                    <div class="card card-chart px-3">
                   
                            <div class="row">
                            <div class="col-lg-9 col-ms-auto">
                                <div class="card-header">
                                    <h4 class="card-title"><i class="fas fa-chart-line text-lg opacity-100" style="color: #342809;"></i> &nbsp; Sales</h4>
                                    
                                </div>
                            </div>
                            <div class="col-lg-3 col-ms-auto ps-lg-5 p-lg-3 ">
                                <select class="form-select rounded-9" aria-label="Default select example" name="status" style="margin-left: 15px; width: 200px; height: 42px;">
                                    <option selected {% if not search_query %} disabled {% endif %} disabled>Filter By:</option>
                                    <option value="True" {% if request.GET.status == "True" %}selected{% endif %}>Active</option>
                                    <option value="False" {% if request.GET.status == "False" %}selected{% endif %}>Inactive</option>
                                </select>
                            </div>
                            </div>
                        
                            <div class="card-body">
                                <div class="chart">
                                    <canvas id="bar-chart" class="chart-canvas" height="375" width="989" style="display: block; box-sizing: border-box; height: 300px; width: 791.2px;">
                                    
                                    </canvas>
                                </div>

                            </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Transanctions</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    Reference No:
                                </th>
                                <th>
                                    Payment Method:
                                </th>
                                <th>
                                    Amount:
                                </th>
                                <th>
                                    Date:
                                </th>
                                <th>
                                    Payment Status:
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Dakota Rice
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Minerva Hooper
                                    </td>
                                    <td>
                                        Curaçao
                                    </td>
                                    <td>
                                        Sinaai-Waas
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Sage Rodriguez
                                    </td>
                                    <td>
                                        Netherlands
                                    </td>
                                    <td>
                                        Baileux
                                    </td>

                                    <td>
                                        Niger
                                    </td>

                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    
                                </tr>

                                <tr>
                                    <td>
                                        Doris Greene
                                    </td>
                                    <td>
                                        Malawi
                                    </td>
                                    <td>
                                        Feldkirchen in Kärnten
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    
                                </tr>

                                <tr>
                                    <td>
                                        Mason Porter
                                    </td>
                                    <td>
                                        Chile
                                    </td>
                                    <td>
                                        Gloucester
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title"> Wholesalers</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    Business Name:
                                </th>
                                <th>
                                    Status:
                                </th>
                                <th>
                                    Date Joined:
                                </th>
                           
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Dakota Rice
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <td>
                                        Minerva Hooper
                                    </td>
                                    <td>
                                        Curaçao
                                    </td>
                                    <td>
                                        Sinaai-Waas
                                    </td>
                                   
                                </tr>
                                <tr>
                                    <td>
                                        Sage Rodriguez
                                    </td>
                                    <td>
                                        Netherlands
                                    </td>
                                    <td>
                                        Baileux
                                    </td>
                                   
                                </tr>
                                <tr>
                                    <td>
                                        Doris Greene
                                    </td>
                                    <td>
                                        Malawi
                                    </td>
                                    <td>
                                        Feldkirchen in Kärnten
                                    </td>
                                  
                                </tr>
                                <tr>
                                    <td>
                                        Mason Porter
                                    </td>
                                    <td>
                                        Chile
                                    </td>
                                    <td>
                                        Gloucester
                                    </td>
                                 
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
</div>

{% endblock content %}