{% extends 'admin.html' %}
{% load humanize %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block content %}

<div class="panel-header panel-header-sm">
    <h2 class="card-title text-white text-start mt-lg-0">&nbsp; &nbsp; <Strong>Dashboard</Strong></h2>
</div>
<br>
    <div class ="container">
        <div class="content">
            <div class="row">
              <div class="col-lg-6">
                <a href="{% url 'transactions' %}" style="color: #342809;">
                <div class="card card-chart">
                  <div class="card-header">
                    <h4 class="card-title"><i class="fas fa-tasks text-lg opacity-100"></i> &nbsp; Transactions</h4>
                    
                  </div>
                  <div class="card-body text-center">
                    <h2>{{transactions.count}}</h2>
                  </div>
                  <div class="card-footer">
                    
                  </div>
                </div>
                </a>
              </div>
            
           
              <div class="col-lg-6 col-md-6">
                <a href="{% url 'list_wholesalers' %}" style="color: #342809;">
                    <div class="card card-chart">
                    <div class="card-header">
                        <h4 class="card-title"><i class="fas fa-warehouse text-lg opacity-100"></i> &nbsp; Wholesalers</h4>
                    </div>
                    <div class="card-body text-center">
                        <h2>{{wholesalers.count}}</h2>
                    </div>
                    <div class="card-footer">
                    
                    </div>
                    </div>
                </a>
              </div>
            </div>

            <div class="container py-4">
                <div class="row">
                    <div class="card card-chart px-3">
                   
                            
                        <div class="col-lg-9 col-ms-auto">
                            <div class="card-header">
                                <h4 class="card-title"><i class="fas fa-chart-line text-lg opacity-100" style="color: #342809;"></i> &nbsp; Monthly Sales</h4>
                                
                            </div>
                        </div>
                            
                        <div class="card-body">
                            <div class="chart">
                                <canvas id="bar-chart" class="chart-canvas" height="375" width="989" style="display: block; box-sizing: border-box; height: 300px; width: 791.2px;">
                                
                                </canvas>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
               

        <div class="row">
                    <div class="col-md-7">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex justify-content-between">
                                    <h4 class="card-title"><i class="fas fa-tasks text-lg opacity-100" style="color: #342809;"></i> &nbsp; Transanctions</h4>
                                    <a class="btn btn-primary btn-sm ms-auto rounded-9" href="{%url 'transactions'%}"><i class="fas fas fa-eye text-md opacity-100"></i> &nbsp;View Transactions</a>
                                </div>

                            </div>
                            <div class="card-body ps-lg-2">
                                <div class="table-responsive text-center">
                                    <table class="table">
                                <thead class=" text-primary">
                                    <th class="text-primary th-new font-weight-bolder opacity-7" style="font-size: small;">
                                        Reference No.
                                    </th>
                                    <th class="text-primary th-new font-weight-bolder opacity-7" style="font-size: small;">
                                        Business Name
                                    </th>
                                    <th class="text-primary th-new font-weight-bolder opacity-7" style="font-size: small;">
                                        Payment Method
                                    </th>
                                    <th class="text-primary th-new font-weight-bolder opacity-7" style="font-size: small;">
                                        Amount
                                    </th>
                                    <th class="text-primary th-new font-weight-bolder opacity-7" style="font-size: small;">
                                        Date
                                    </th>
                                    <th class="text-primary th-new font-weight-bolder opacity-7" style="font-size: small;">
                                        Payment Status
                                    </th>
                                
                                </thead>
                                <tbody>
                                    {% for transaction in transactions|slice:"5" %}
                                    <tr>
                                        <td>
                                        {{ transaction.reference_number }}
                                        </td>
                                        <td>
                                        {{ transaction.business_name }}
                                        </td>
                                        <td>
                                        {{ transaction.payment_method }}
                                        </td>
                                        <td>
                                        ₱{{ transaction.amount|floatformat:2|intcomma  }}
                                        </td>
                                        <td>
                                        {{ transaction.created }}
                                        </td>
                                        <td >
                                        {%if transaction.payment_status == 'Success'%}
                                        <span id= "status_acc" class=" badge badge-sm bg-success font-weight-bold mb-0">{{ transaction.payment_status }}</span>
                                        {% endif %}
                                        {%if transaction.payment_status == 'Cancelled'%}
                                        <span id= "status_acc" class="badge badge-sm bg-warning font-weight-bold mb-0">{{ transaction.payment_status }}</span>
                                        {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title"><i class="fas fa-warehouse text-lg opacity-100" style="color: #342809;"></i> &nbsp; Wholesalers</h4>
                            <a class="btn btn-primary btn-sm ms-auto rounded-9 w-30" href="{%url 'list_wholesalers'%}"><i class="fas fas fa-eye text-md opacity-100"></i> &nbsp;View Wholesalers</a>
                        </div>

                    </div>
                    <div class="card-body ps-lg-2">
                        <div class="table-responsive text-center">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th class="text-primary th-new font-weight-bolder opacity-7" style="font-size: medium;">
                                        Business Name
                                    </th>
                                    <th class="text-primary th-new font-weight-bolder opacity-7" style="font-size: medium;">
                                        Status
                                    </th>
                                    <th class="text-primary th-new font-weight-bolder opacity-7" style="font-size: medium;">
                                        Date Joined
                                    </th>
                            
                                </thead>
                                <tbody>
                                    
                                    {% for wholesaler in wholesalers|slice:"5" %}
                                    <tr>
                                    <td>
                                        
                                        {{ wholesaler.business_name }}
                                    </td>
                                    <td>
                                        {%if wholesaler.is_active == False%}
                                        <span id= "status_acc" class=" badge badge-sm bg-warning font-weight-bold mb-0"> {{ wholesaler.is_active|yesno:"Active,Inactive" }}</span>
                                        {% endif %}
                                        {%if wholesaler.is_active == True%}
                                        <span id= "status_acc" class="badge badge-sm bg-success font-weight-bold mb-0">{{ wholesaler.is_active|yesno:"Active,Inactive" }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ wholesaler.created}}
                                    </td>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js">
</script>
<script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>
<script>
    const productSalesGraph = document.getElementById("bar-chart").getContext("2d");
    const sortValue = document.getElementById("graph_sort");
    const monthlyStats = [
    {% for sales in monthly_sales %} 
    {
        x: Date.parse(moment(new Date('{{sales.created.isoformat|safe}}').getTime())
            .format('YYYY-MM-DD hh:mm:ss')),
        y: {{ sales.sum|safe }}
    },
    {% endfor %}
    ]
    
    const salesChart = new Chart(productSalesGraph, {
        type: "bar",
        data: {
            datasets: [{
                label: "Sales",
                data: monthlyStats,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.8)',
                    'rgba(54, 162, 235, 0.8)',
                    'rgba(255, 206, 86, 0.8)',
                    'rgba(75, 192, 192, 0.8)',
                    'rgba(153, 102, 255, 0.8)',
                    'rgba(255, 159, 64, 0.8)',
                    'rgba(240, 120, 50, 0.8)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(240, 120, 50, 1)',

                ],
                fill: false,
            }],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false,
                },
                tooltip: {
                    callbacks: {
                        label: function (context) {
                            let label = context.dataset.label || '';

                            if (label) {
                                label += ': ';
                            }
                            if (context.parsed.y !== null) {
                                label += new Intl.NumberFormat('en-US', {
                                    style: 'currency',
                                    currency: 'PHP'
                                }).format(context.parsed.y);
                            }
                            return label;
                        }
                    }
                }
            },
                layout: {
                  padding: {
                      left: 10,
                      right: 10,
                      top: 10,
                      bottom: 10
                  }
              },

            interaction: {
                intersect: false,
                mode: 'index',
            },
            scales: {
                y: {
                    grid: {
                        drawBorder: false,
                        display: true,
                        drawOnChartArea: true,
                        drawTicks: false,
                        borderDash: [5, 5]
                    },
                    ticks: {
                        callback: function (value, index, values) {
                            value = value.toString();
                            value = value.split(/(?=(?:...)*$)/);
                            value = value.join(',');
                            return '₱' + value;
                        },
                        color: 'black',
                        beginAtZero: true,
                        font: {
                            size: 15,
                            family: "Open Sans",
                            style: 'normal',
                            lineHeight: 2
                        },
                    }

                },
                x: {
                    grid: {
                        drawBorder: false,
                        display: false,
                        drawOnChartArea: false,
                        drawTicks: false,
                        borderDash: [5, 5]
                    },
                    ticks: {
                        source: 'data',
                        display: true,
                        color: '#ccc',
                        font: {
                            size: 15,
                            family: "Open Sans",
                            style: 'normal',
                            lineHeight: 2
                        },
                        color: 'black',
                        beginAtZero: true,
                    },

                    type: 'time',
                    time: {
                        unit: 'month',
                        tooltipFormat: 'MMM DD, YYYY',
                        min: monthlyStats[0].x 
                    }

                },
            },
        },
    });
</script>
{% endblock content %}