{% extends 'admin.html' %}

{% block content %}


<div class="panel-header panel-header-sm">
    <h2 class="card-title text-white text-start mt-lg-0">&nbsp; &nbsp; <Strong>Admin</Strong></h2>
</div>
<br>

<div class="modal fade" id="staticBackdrop2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <!--/.Content-->
  </div>
</div>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row ">
            <div class="col my-lg-2 py-1">
                  
              <form>
                <div class="input-group no-border ">
                  <input type="text" value="" class="form-control rounded-9" placeholder="Search...">
                  
                 
                </div>
              </form>
            </div>
            <div class="col-lg-6 my-lg-2">
              <select class="form-select rounded-9" aria-label="Default select example" style="margin-left: 15px; width: 200px; height: 42px;">
                <option selected> Filter Category </option>
                <option value="1">Inactive Wholesaler</option>
                <option value="2">Active Wholesaler</option>
              </select>
            </div>
            <div class="col col-lg-2 my-lg-0">
              
              <a class="btn btn-primary w-100 text-light rounded-9" href="{% url 'register_admin' %}"><i class="fa fa-plus"></i>&nbsp; <strong>Add Admin</strong>
              
              </a>
            </div>
        </div>
      </div>

        <div class="card-body">
          <div class="table-responsive text-center">
            <table class="table">
              <thead class=" text-primary">
                <th class="text-uppercase  text-primary th-new font-weight-bolder opacity-7">
                  Name
                </th>
                <th class="text-uppercase  text-primary th-new font-weight-bolder opacity-7">
                  Status
                </th>
                <th class="text-uppercase  text-primary th-new font-weight-bolder opacity-7">
                  Date Joined
                </th>
                <th>
                  
                </th>
              </thead>
              <tbody>
                {% for admin in users %}
                <tr>
                  <td>
                    {{ admin.first_name }} {{admin.last_name}}
                  </td>
                  <td>
                    {%if admin.is_active == False%}
                    <span id= "status_acc" class=" badge badge-sm bg-warning font-weight-bold mb-0"> {{ admin.is_active|yesno:"Active,Inactive" }}</span>
                    {% endif %}
                    {%if admin.is_active == True%}
                    <span id= "status_acc" class="badge badge-sm bg-success font-weight-bold mb-0">{{ admin.is_active|yesno:"Active,Inactive" }}</span>
                    {% endif %}
                  </td>
                  <td>
                    {{ admin.date_joined }}
                  </td>
                  <td>
                    <form method="POST" action="{% url 'update_admin_status' admin.id %}" class="updateForm">
                      {% csrf_token %}
                      {% if admin.is_active == True %}
                      <input type="hidden" name="status" value="False">
                      {% elif admin.is_active == False %}
                      <input type="hidden" name="status" value="True">
                      {% endif %}
                      <button type="submit" class="btn  btn-info  btn-xs "><i class="far fa-edit"></i>
                      </button>
                    </form>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% include 'w-pagination.html' with queryset=products custom_range=custom_range %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}