{% extends 'admin.html' %}
{% block title %}Admin{% endblock title %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <a href="javascript:history.go(-1);"><i class="far fa-arrow-alt-circle-left py-4 ps-lg-3" style="color:white; font-size: larger;" aria-hidden="true"></i></a>
    </div>
   
</nav>

<div class="panel-header panel-header-sm">
  <h2 class="card-title text-white text-start mt-lg-0">&nbsp; &nbsp; <Strong>Wholesalers</Strong></h2>
</div>
<br>
<!-- Modal -->

<!-- Modal -->

<!-- Modal2 -->
<!--Modal: modalConfirmDelete-->
<div class="modal fade" id="staticBackdrop2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <!--/.Content-->
  </div>
</div>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row ">
            <div class="col-md-3 my-lg-2 py-1">
                  
              <form action="{% url 'list_wholesalers' %}" method="GET" id="searchForm"> 
                <div class="input-group no-border">
                  <input type="search" value="{{ search_query }}" class="form-control rounded-9" name="search_query" placeholder="Search">
                </div>
              </form>
            </div>
            <div class="col-lg-4 my-lg-2">
              <select class="form-select rounded-9" id="filter_category" aria-label="Default select example" name="status" style="margin-left: 15px; width: 200px; height: 42px;">
                <option selected {% if not search_query %} disabled {% endif %} disabled>Filter By:</option>
                <option value="True" {% if request.GET.category == "True" %}selected{% endif %}>Active</option>
                <option value="False" {% if request.GET.category == "False" %}selected{% endif %}>Inactive</option>
              </select>
            </div>
            <div class="col-md-auto" style="margin-left: 150px">
              
              <button type="button" class="btn btn-primary text-light rounded-9" data-mdb-toggle="modal" data-mdb-target="#staticBackdrop1"><i class="fa fa-plus"></i>&nbsp; <strong>Add Wholesaler</strong>
              </button>
           
            </div>

            <div class="modal fade" id="staticBackdrop1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
              <div class="modal-dialog d-flex justify-content-center">
                  <div class="modal-content w-75">
                      <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel1">Add a Wholesaler</h5>
                          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body p-4">
                          <form action="" method="POST" class = "form">
                              {% csrf_token %}
                              <div class="form-outline mb-4">
                                  <input type="email"  name="email" id="email" class="form-control" />
                                  <label class="form-label" for="email">Wholesaler's Email address</label>
                              </div>
                              <!-- Submit button -->
                              <button type="submit" class="btn btn-primary btn-block">Send Email</button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
          
            <div class="col-md-auto">
              
              
              <a class="btn btn-primary text-light rounded-9" href="{% url 'registration_logs' %}"><i class="fa fa-history"></i>&nbsp; <strong>Logs</strong>
              
              </a>
            </div>
        </div>
      </div>


      {% for wholesaler in status_filter %}
        {{ wholesaler.business_name }}
      {% endfor %}
        <div class="card-body">
          <div class="table-responsive text-center">
            <table class="table">
              <thead class=" text-primary">
                <th class="text-uppercase text-primary th-new font-weight-bolder opacity-7">
                  Business Name
                </th>
                <th class="text-uppercase text-primary th-new font-weight-bolder opacity-7">
                  Status
                </th>
                <th class="text-uppercase  text-primary th-new font-weight-bolder opacity-7">
                  Date Joined
                </th>
                <th class="text-uppercase  text-primary th-new font-weight-bolder opacity-7">
                  Action
                </th>
              </thead>
              <tbody>
                {% for wholesaler in wholesalers %}
                <tr>
                  <td>
                    {{ wholesaler.business_name }}
                  </td>
                  <td>
                    {%if wholesaler.is_active == False%}
                    <span id= "status_acc" class=" badge badge-sm bg-warning font-weight-bold mb-0"> {{ wholesaler.is_active|yesno:"Active,Inactive" }}</span>
                    {% endif %}
                    {%if wholesaler.is_active == True%}
                    <span id= "status_acc" class="badge badge-sm bg-success font-weight-bold mb-0">{{ wholesaler.is_active|yesno:"Active,Inactive" }}</span>
                    {% endif %}
                  </td>
                  <td>
                    {{ wholesaler.created}}
                  </td>
                  <td>
                    <form method="POST" action="{% url 'update_wholesaler' wholesaler.id %}" class="updateForm"
                      data-product="{{wholesaler.business_name}}">
                      {% csrf_token %}
                      <button type="submit" class="btn  btn-info  btn-xs "><i class="far fa-edit"></i>
                      </button>
                    </form>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% include 'a-pagination.html' with queryset=wholesalers custom_range=custom_range %}
        </div>
      </div>
    </div>
  </div>
</div>


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
{% for message in messages %}
<script>
  swal("{{message}}", "", "success");
</script>


{% comment %} <div style="display: flex; justify-content: center;">
  <div class="alert alert--{{message.tags}}">
    <p class="alert__message">{{message}}</p>
    <button class="alert__close">x</button>
  </div>
</div> {% endcomment %}
{% endfor %}
{% endif %}

<script>

 
const filterDropdown = document.querySelector('select[name="status"]');


filterDropdown.addEventListener('change', (event) => {
 
  event.target.closest('form').submit();
});

  const updateForms = document.querySelectorAll('.updateForm');

  for (const item of updateForms) {
    item.addEventListener('click', (e) => {
      e.preventDefault()
      let name = item.dataset.product
      swal({
          title: `Update the account status of ${name}?`,
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            item.submit()
          }

        });
    })

  }

  $(document).ready(function () {
    $('.form').on('submit', function () {
      swal("Success!", "Registration Link has been sent!", "success", {
        button: "Ok",
      });
    });
  });
</script>

{% endblock content %}