{% extends 'main_admin.html' %}
{% block title %}Admin{% endblock title %}
{% block content %}

<div class="container-fluid"> 
<div class="container-fluid">
    <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
          <img
            src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
            height="15"
            alt="MDB Logo"
            loading="lazy"
          />
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">List of Wholesalers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Subscriptions</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
  
        <!-- Avatar -->
        <div class="dropdown">
          <a
            class="dropdown-toggle d-flex align-items-center hidden-arrow"
            href="#"
            id="navbarDropdownMenuAvatar"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
              class="rounded-circle"
              height="25"
              alt="Black and White Portrait of a Man"
              loading="lazy"
            />
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuAvatar"
          >
            <li>
              <a class="dropdown-item" href="#">My profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Settings</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
<br>
<!-- Button trigger modal -->
<button type="button" class="btn btn-warning text-dark" data-mdb-toggle="modal" data-mdb-target="#staticBackdrop1">
    Add Wholesaler
</button>
<a class="btn btn-warning text-dark" href="{%url 'list_deac'%}">Inactive Wholesalers</a>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog d-flex justify-content-center">
        <div class="modal-content w-75">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Add a Wholesaler</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                <form action="" method="POST" class = "form">
                    {% csrf_token %}
                    <div class="form-outline mb-4">
                        <input type="email"  name="email" id="email" class="form-control" />
                        <label class="form-label" for="email">Wholesaler's Email address</label>
                    </div>
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block">Send Email</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->

<!-- Modal2 -->
  <!--Modal: modalConfirmDelete-->
  <div class="modal fade" id="staticBackdrop2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
      <!--Content-->
      <div class="modal-content text-center">
        <!--Header-->
        <div class="modal-header d-flex justify-content-center">
          <p class="heading">Update Status</p>
        </div>
  
        <!--Body-->
        <div class="modal-body">
  
            <i class="fas fa-info-circle fa-3x"></i>
            <br><br>
            This wholesaler's account status will be updated
  
        </div>
  
        <!--Footer-->
        <div class="modal-footer flex-center">
  
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
<!-- Modal2 -->

<br><br>
<table class="table table-striped">
    <thead class="table-warning white-text">
      <tr>
        <th  class= "text-center"scope="col">Business Name</th>
        <th  class= "text-center"scope="col">Status</th>
        <th class= "text-center" scope="col">Date Joined</th>
        <th class= "text-center" scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        {% for wholesaler in wholesalers %}
      <tr>
        <td class="text-center">
            {{ wholesaler.business_name }}
        </td>
        <td class="text-center"> 
            <span id = "status" class="badge badge-success rounded-pill d-inline">{{ wholesaler.is_active|yesno:"Active,Inactive" }}</span>  
        </td>
        <td class="text-center">
            {{ wholesaler.created}}
        </td>
        <td class="text-center">
           <a href="#"> <i class="fas fa-cog" data-mdb-toggle="modal" data-mdb-target="#staticBackdrop2"  ></i></a>
        </td>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>

<script>

$(document).ready(function(){
        $('.form').on('submit', function(){
            swal("Success!", "Registration Link has been sent!", "success", {
  button: "Ok",
});
        });
    });


</script>

{% endblock content %}

