{% extends 'admin.html' %}
{% block title %}Admin{% endblock title %}
{% block content %}
 
<div class="panel-header panel-header-sm">
  <h2 class="card-title text-white text-start mt-lg-0">&nbsp; &nbsp; <Strong>Wholesalers</Strong></h2>
</div>
<br>
<!-- Modal -->

<!-- Modal -->

<!-- Modal2 -->
<!--Modal: modalConfirmDelete-->
<div class="modal fade" id="staticBackdrop2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <!--/.Content-->
  </div>
</div>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row ">
            <div class="col my-lg-2 py-1">
                  
              <form action="{% url 'list_wholesalers' %}" method="GET">
                <div class="row">
                  <div class="col-3 my-lg-2">
                    <div class="input-group no-border">
                      <input type="search" value="{{ search_query }}" class="form-control rounded-9" name="search_query" placeholder="Search">
                    </div>
                  </div>
                  <div class="col-3 my-lg-2">
                    <select class="form-select rounded-9" aria-label="Default select example" name="status" style="margin-left: 15px; width: 200px; height: 42px;">
                      <option selected {% if not search_query %} disabled {% endif %} disabled>Filter By:</option>
                      <option value="True" {% if request.GET.status == "True" %}selected{% endif %}>Active</option>
                      <option value="False" {% if request.GET.status == "False" %}selected{% endif %}>Inactive</option>
                    </select>
                  </div>

                </div>
              </form>
              

            </div>

        </div>
      </div>
      {% for wholesaler in status_filter %}
        {{ wholesaler.business_name }}
      {% endfor %}
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Business Name
                </th>
                <th>
                  Status
                </th>
                <th>
                  Date Joined
                </th>
                <th>
                  Action
                </th>
              </thead>
              <tbody>
                {% for wholesaler in wholesalers %}
                <tr>
                  <td>
                    {{ wholesaler.business_name }}
                  </td>
                  <td>
                    {{ wholesaler.is_active|yesno:"Active,Inactive" }}
                  </td>
                  <td>
                    {{ wholesaler.created}}
                  </td>
                  <td>
                    <form method="POST" action="{% url 'update_wholesaler' wholesaler.id %}" class="updateForm"
                      data-product="{{wholesaler.business_name}}">
                      {% csrf_token %}
                      <button type="submit" class="btn  btn-info  btn-xs "><i class="far fa-edit"></i>
                      </button>
                    </form>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
{% for message in messages %}
<script>
  swal("{{message}}", "", "success");
</script>


{% comment %} <div style="display: flex; justify-content: center;">
  <div class="alert alert--{{message.tags}}">
    <p class="alert__message">{{message}}</p>
    <button class="alert__close">x</button>
  </div>
</div> {% endcomment %}
{% endfor %}
{% endif %}

<script>

 
const filterDropdown = document.querySelector('select[name="status"]');


filterDropdown.addEventListener('change', (event) => {
 
  event.target.closest('form').submit();
});

  const updateForms = document.querySelectorAll('.updateForm');

  for (const item of updateForms) {
    item.addEventListener('click', (e) => {
      e.preventDefault()
      let name = item.dataset.product
      swal({
          title: `Update the account status of ${name}?`,
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            item.submit()
          }

        });
    })

  }

  $(document).ready(function () {
    $('.form').on('submit', function () {
      swal("Success!", "Registration Link has been sent!", "success", {
        button: "Ok",
      });
    });
  });
</script>

{% endblock content %}