{% extends 'main.html' %}

{% block title %}Analytics{% endblock title %}

{% block content %}
<div class="container-fluid">
<div class="card mb-3" id="demandChart">
    <div class="card-header pb-0 pt-3 bg-transparent">
        <p class="text-warning text-center" style="font-size:5em !important"><i class="fas fa-exclamation-circle"></i></p>
        <h4 class="text-center">Important</h4>
        <p class="text-primary" style="text-align:center !important">
            To obtain an accurate demand forecast for each product, it is recommended to wait for the system to collect sufficient data, which requires a minimum of 100 completed orders per product. It is advisable to hold off on forecasting for a few weeks or months until enough data is gathered.
        </p>
    </div>
</div>
</div>


{% endblock content %}