{% extends 'main_account.html' %}
{% load static %}
{% block title %}Registration Retailer{% endblock title %}
{% block content %}
<style>
  #image{
   width: 200px;
   height: 200px;
   border-radius: 50%;
   border: solid;
   border-color:#404040;
   margin: 0 auto;
   display: block;
}
</style>
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="wrap d-md-flex">
          <div class="wrap d-md-flex">
            <div class="p-4 p-lg-5 text-center d-flex align-items-center order-md-last" style="{% if wholesaler.color %}background-color:{{wholesaler.color}}{% endif %}; width: 50%">
              <img src="{% if wholesaler.wholesaler_image == 'products/default.jpg' %}{% static 'assets2/images/HIVE.png'%}{% else %}{{ wholesaler.wholesaler_image.url }}{% endif %}" id="image">
            </div>
          <div class="login-wrap p-4 p-lg-5">
            <div class="d-flex">
              <div class="w-100">
                <h3 class="mb-4 text-center">Registration</h3>
              </div>
            </div>
          
            <form class="mx-1 mx-md-4" method = "POST" id="form-register">
              {% csrf_token %}
              <div class="message" style="color:#f02849; font-size: 14px; margin-left: 10px;"></div>   
              <div class="form-group mb-3 {% if form.email.errors %} error {% endif %}">
                <label class="label">Email Address</label>
                {{form.email}}
                {% if form.email.errors %}
                <div style = "color:red;">
                  {{form.email.errors}} 
                </div>
                {% endif %}
              </div>
              <div class="form-group mb-3 {% if form.username.errors %} error {% endif %}">
                <label class="label">User Name</label>
                {{form.username}}
                {% if form.username.errors %}
                <div style = "color:red;">
                  {{form.username.errors}} 
                </div>
                {% endif %}
              </div>

              <div class="form-group mb-3 {% if form.password1.errors or form.password2.errors %} error {% endif %}">
                <label class="label" for="password">Password</label>
                <div class="input-group">
                  {{form.password1}}
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="fa fa-eye" id="togglePassword1" style="cursor: pointer;"></i>
                    </span>
                  </div>
                </div>
                {% if form.password1.errors %}
                    <div style = "color:red;">
                      {{form.password1.errors}} 
                    </div>
                  {% endif %}
              </div>

              <div class="form-group mb-3">
                <label class="label" for="password">Confirm Password</label>
                <div class="input-group {% if form.password1.errors or form.password2.errors %} error {% endif %}">
                  {{form.password2}}
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="fa fa-eye" id="togglePassword2" style="cursor: pointer;"></i>
                    </span>
                  </div>
                </div>
                {% if form.password2.errors %}
                    <div style = "color:red;">
                      {{form.password2.errors}} 
                    </div>
                  {% endif %}
              </div>              <br>
              <div class="form-group">
                <button type="submit" class="form-control btn btn-primary submit px-3">Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  const togglePassword = document.querySelector('#togglePassword1');
  const passwordInput = document.querySelector('#id_password1');

  togglePassword.addEventListener('click', function (e) {

    const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
    passwordInput.setAttribute('type', type);
    this.classList.toggle('fa-eye-slash');
});

const togglePassword1 = document.querySelector('#togglePassword2');
const passwordInput1 = document.querySelector('#id_password2');

togglePassword1.addEventListener('click', function (e) {

    const type = passwordInput1.getAttribute('type') === 'password' ? 'text' : 'password';
    passwordInput1.setAttribute('type', type);
    this.classList.toggle('fa-eye-slash');
});

  const email = document.querySelector('#id_email');
  const usernameReg = document.querySelector('#id_username');
  const password1 = document.querySelector('#id_password1');
  const password2 = document.querySelector('#id_password2');    
  const register = document.querySelector("#form-register");


  const message = document.querySelector('.message');

  let capsLockAlertShown = false;


  register.addEventListener('submit', function (e){
      e.preventDefault();
      if (email.value === '' || usernameReg.value === '' || password1.value === '' || password2 === ''){
        message.innerHTML = '• Please fill out the fields';
      }
      else{
          this.submit();
      }
  });


  email.addEventListener('keyup', function (e) {
    if (e.getModifierState('CapsLock') && !capsLockAlertShown) {
        const alertBox = document.createElement('div');
        alertBox.innerHTML = '<p style="color:#f02849; font-size: 14px; margin-left: 10px; ">Caps lock is on</p>';
        message.appendChild(alertBox);
        capsLockAlertShown = true;
    } else if (!e.getModifierState('CapsLock')) {
        message.innerHTML = '';
        capsLockAlertShown = false;
    }
    });

    usernameReg.addEventListener('keyup', function (e) {
    if (e.getModifierState('CapsLock') && !capsLockAlertShown) {
        const alertBox = document.createElement('div');
        alertBox.innerHTML = '<p style="color:#f02849; font-size: 14px; margin-left: 10px; ">Caps lock is on</p>';
        message.appendChild(alertBox);
        capsLockAlertShown = true;
    } else if (!e.getModifierState('CapsLock')) {
        message.innerHTML = '';
        capsLockAlertShown = false;
    }
    });
    
    password1.addEventListener('keyup', function (e) {
    if (e.getModifierState('CapsLock') && !capsLockAlertShown) {
        const alertBox = document.createElement('div');
        alertBox.innerHTML = '<p style="color:#f02849; font-size: 14px; margin-left: 10px; ">Caps lock is on</p>';
        message.appendChild(alertBox);
        capsLockAlertShown = true;
    } else if (!e.getModifierState('CapsLock')) {
        message.innerHTML = '';
        capsLockAlertShown = false;
    }
    });

    password2.addEventListener('keyup', function (e) {
    if (e.getModifierState('CapsLock') && !capsLockAlertShown) {
        const alertBox = document.createElement('div');
        alertBox.innerHTML = '<p style="color:#f02849; font-size: 14px; margin-left: 10px; ">Caps lock is on</p>';
        message.appendChild(alertBox);
        capsLockAlertShown = true;
    } else if (!e.getModifierState('CapsLock')) {
        message.innerHTML = '';
        capsLockAlertShown = false;
    }
    });

</script>
{% endblock %}