{% extends 'main2.html' %}
{% load static %}
{% load humanize %}
{% block title %}My orders{% endblock title %}

{% block content %}
<style>
    .pagination1{
       color:black;
    }
 </style>
    <br>
    <br>
    <br>
    <div class="animated fadeIn">
        {% include 'retailers/cards.html' %}
        
        <!-- Orders -->
        <div class="orders">
            <div class="row">
                <div class="col-xl-8" style="float:none;margin:auto;">
                    <div class="card">
                        <div class="card-body d-flex align-items-center">

                        <div class = "col-8">
                             <h4> Orders </h4>
                        </div>

                        <div class = "col-4">
                            <a class ="float-right btn btn-info btn-sm mx-auto" href="{% url 'dashboard_retailer' %}"><i class="fas fas fa-eye"></i> &nbsp;View Orders</a>
                       </div>

                        </div>
                        
                        <div class="card-body--">
                            <div class="table-stats order-table ov-h">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th class="text-center text-uppercase font-weight-bolder opacity-7" style="font-size: medium; color: #342809;">Reference
                                                No.</th>
                                            <th class="text-center text-uppercase font-weight-bolder opacity-7" style="font-size: medium; color: #342809;">Total Amount
                                            </th>
                                            <th class="text-center text-uppercase font-weight-bolder opacity-7" style="font-size: medium; color: #342809;">Date</th>
                                            <th class="text-center text-uppercase font-weight-bolder opacity-7" style="font-size: medium; color: #342809;">No. of
                                                Products</th>
                                            <th class="text-center text-uppercase font-weight-bolder opacity-7" style="font-size: medium; color: #342809;">Status</th>
                                            <th class="text-center text-uppercase font-weight-bolder opacity-7" style="font-size: medium; color: #342809;"></th>
                                            <th></th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in orders %}
                                        <tr>
                                            <td class="text-center">
                                                {{ order.reference_number }}
                                            </td>
                                            <td class="text-center">
                                                ₱{{ order.total_paid|floatformat:2|intcomma }}</td>
                                            <td class="text-center"><span
                                                    class="name">{{ order.created }}</span>
                                            </td>
                                            <td class="text-center">
                                                <span>{{ order.items.all.count }}</span>
                                            </td>
                                            <td class="text-center">
                                                {%if order.status == "pending"%}
                                                <span class="badge badge-warning" style="font-weight: 1000;">{{ order.status }}</span> 
                                                 {% endif %}

                                                {%if order.status == "preparing"%}
                                                <span class="badge badge-info" style="font-weight: 1000;">{{ order.status }}</span> 
                                                {% endif %}

                                                {%if order.status == "shipped"%}
                                                <span class="badge badge-primary" style="font-weight: 1000;">{{ order.status }}</span> 
                                                {% endif %}

                                                {%if order.status == "completed"%}
                                                <span class="badge badge-success" style="font-weight: 1000;">{{ order.status }}</span>
                                                {% endif %}
                                                
                                            </td>
                                            <td class="text-center">
                                                <a  href="{% url 'ordered_product' order.id %}"><i class="fas fa-pencil-alt"></i>&nbsp;Details</a>
                                            </td>
                                            
                                            {%if order.status == "shipped"%}
                                            <td class="text-center">
                                                <form method="POST" action="{% url 'order_received' order.id %}">
                                                    {% csrf_token %}
                                                <button type="submit" class="btn p-2" >Order Received</button>
                                                </form>
                                            </td>
                                            {% endif %}
                                            
                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'r-pagination.html' with queryset=orders custom_range=custom_range %}
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>

{% endblock %}