{% extends 'main_account.html' %}
{% load static %}
{% block title %}Registration Retailer{% endblock title %}
{% block content %}
<style>
  #image{
   width: 200px;
   height: 200px;
   border-radius: 50%;
   border: solid;
   border-color:#404040;
   margin: 0 auto;
   display: block;
}
</style>
<section class="ftco-section login-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="wrap d-md-flex">
          <div class="wrap d-md-flex">
            <div class="p-4 p-lg-5 text-center d-flex align-items-center order-md-last" style="{% if wholesaler.color %}background-color:{{wholesaler.color}}{% endif %}; width: 50%">
              <img src="{% if wholesaler.wholesaler_image == 'products/default.jpg' %}{% static 'assets2/images/HIVE.png'%}{% else %}{{ wholesaler.wholesaler_image.url }}{% endif %}" id="image">
            </div>
          <div class="login-wrap p-4 p-lg-5">
            <div class="d-flex">
              <div class="w-100">
                <h3 class="mb-4">Enter your Business Details</h3>
              </div>
            </div>
            <form method = "POST" id="wholesaler_profile" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group mb-3">
                <label class="label">Business Name</label>
                {{form.business_name}}
              </div>
              <p id="error1" style="color:#f02849; font-size: 14px; margin-left: 10px;"></p>   
              <div class="form-group mb-3">
                <label class="label">Contact Name</label>
                {{form.contact_name}}
              </div>
              <p id="error2" style="color:#f02849; font-size: 14px; margin-left: 10px;"></p>   
              <div class="form-group mb-3">
                <label class="label">Contact Number</label>
                {{form.contact_number}}
                <div class="message"></div>
              </div>
              <p id="error3" style="color:#f02849; font-size: 14px; margin-left: 10px;"></p>   
              <div class="form-group mb-3">
                <label class="label">Upload Logo</label>
                {{form.retailer_image}}
              </div>
              <hr>
              <div class="form-group mb-3">
                <label class="label">Address</label>
                {{form.address}}
              </div>
              <p id="error4" style="color:#f02849; font-size: 14px; margin-left: 10px;"></p>   
              <div class="form-group mb-3">
                <label class="label">Barangay</label>
                {{form.barangay}}
              </div>
              <p id="error5" style="color:#f02849; font-size: 14px; margin-left: 10px;"></p>   
              <div class="form-group mb-3">
                <label class="label">Region</label>
                <b><p style="color:black;">Zamboanga Peninsula</p></b>
              </div>
              <div class="form-group mb-3">
                <label class="label">City</label>
                <b><p style="color:black;">Zamboanga City</p></b>
              </div>
              <br>
              <div class="form-group">
                <button type="submit" class="form-control btn btn-primary submit px-3">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <script>

    const form = document.querySelector('#wholesaler_profile');
    const erro6 = document.querySelector('.message');

    const businessName = document.getElementById('id_business_name');
    const contactName = document.getElementById('id_contact_name');
    const contactNum = document.getElementById('id_contact_number');
    const address = document.getElementById('id_address');
    const barangay =  document.getElementById("id_barangay"); 
    barangay.removeAttribute("required")

    const error1 = document.querySelector('#error1');
    const error2 = document.querySelector('#error2');
    const error3 = document.querySelector('#error3');
    const error4 = document.querySelector('#error4');
    const error5 = document.querySelector('#error5');

    form.addEventListener('submit', function (e){
      e.preventDefault();
      if (businessName.value === ''){
        businessName.style.borderColor = "red";
        error1.innerText = '• Please enter your business name';
      } 
      else if(contactName.value === '' ){
        contactName.style.borderColor = "red";
        error2.innerText = '• Please enter your contact name';
      }
      else if(contactNum.value === ''){
        contactNum.style.borderColor = "red";
        error3.innerText = '• Please enter your contact number';
      }
      else if( address.value === ''){
        address.style.borderColor = "red";
        error4.innerText = '• Please enter your address';

      }else if( barangay.value === '' ){
        barangay.style.borderColor = "red";
        error5.innerText = '• Please choose a barangay address';
      }
      else{
          this.submit();
      }

      if(businessName.value === '' && contactName.value === '' && contactNum.value === '' && address.value === '' && barangay.value === ''){
        barangay.style.borderColor = "red";
        address.style.borderColor = "red";
        contactNum.style.borderColor = "red";
        contactName.style.borderColor = "red";
        businessName.style.borderColor = "red";

        error1.innerText = '• Please enter your business name';
        error2.innerText = '• Please enter your contact name';
        error3.innerText = '• Please enter your contact number';
        error4.innerText = '• Please enter your address';
        error5.innerText = '• Please choose a barangay address';


      }

      if (businessName.value !== ''){
        businessName.style.borderColor = "";
        error1.innerText = '';
      } 
      else if(contactName.value !== '' ){
        contactName.style.borderColor = "";
        error2.innerText = '';
      }
      else if(contactNum.value !== ''){
        contactNum.style.borderColor = "";
        error3.innerText = '';
      }
      else if( address.value !== ''){
        address.style.borderColor = "";
        error4.innerText = '';

      }else if( barangay.value !== '' ){
        barangay.style.borderColor = "";
        error5.innerText = '';
      }
  });

    let alertShown = false; // flag variable
    
    form.addEventListener('submit', function(e){

        const format = /^\d{11}$/;
        const number = document.querySelector('#id_contact_number');

        if (number.value.match(format)) {
          erro6.innerHTML = '';
            console.log('Form submitted successfully');
            return true;
        } else {
            if (!alertShown) { // show message only if it hasn't been shown before
                document.querySelector('#id_contact_number').style.borderColor = "red";
                const alertBox = document.createElement('div');
                alertBox.innerHTML = '<p style="color:#f02849; font-size: 14px; margin-left: 10px; ">• Please enter an 11-digit phone number</p>';
                erro6.appendChild(alertBox);
                alertShown = true; // set the flag variable to true
            }
            e.preventDefault();
        }
    });
  
</script>


{% endblock %}