{% extends 'main.html' %}
{% block title %}
Retailers
{% endblock title %}



{% block content %}

<style>
    .btn-ts {
        font-size: 14px !important;
    }
</style>
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="d-flex card mb-0">

                <div class="card-header pb-0">

                    <div class="ms-auto">
                        <div class="col-lg-5 d-flex mt-4">
                            <form action="{% url 'retailers' %}" method="GET" id="searchForm">
                                <div class="input-group">
                                    <span class="input-group-text text-body"><i class="fas fa-search"
                                            aria-hidden="true"></i></span>
                                    <input type="search" value="{{ search_query }}" class="form-control" name="q"
                                        placeholder="Search Retailers">
                                </div>
                            </form>
                            <select class="form-select" id="filter_category" aria-label="Default select example"
                                style="margin-left: 15px; width: 200px; height: 40px;">
                                <option selected disabled>Filter By:</option>
                                <option value="True"
                                    {% if request.GET.category and request.GET.category == "True" %}selected{% endif %}>
                                    Active</option>
                                <option value="False"
                                    {% if request.GET.category and request.GET.category == "False" %}selected{% endif %}>
                                    Inactive</option>
                            </select>
                        </div>
                    </div>

                    <div class="d-flex align-items-center">
                        <h6 class="mb-0">Manage Retailers</h6>
                        <button type="button" class="btn-ts btn btn-primary btn-sm ms-auto" data-bs-toggle="modal"
                            data-bs-target="#RegisterRetailer">Register Retailer</button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="RegisterRetailer" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Add a Retailer</h5>
                                </div>
                                <div class="modal-body">
                                    <form action="" method='POST' class="form">
                                        {% csrf_token %}
                                        <div class="form-outline mb-4">
                                            <br>
                                            <input type="email" name="email" id="email" class="form-control" />
                                            <label class="form-label" for="email">Retailer's Email address</label>
                                        </div>
                                        <!-- Submit button -->
                                        <button id="submitForm" type="submit" class="btn btn-primary btn-block">Send
                                            Email</button>
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal2 -->
                    <!--Modal: modalConfirmDelete-->
                    <div class="modal fade" id="staticBackdrop2" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                            <!--Content-->
                            <div class="modal-content text-center">
                                <!--Header-->
                                <div class="modal-header d-flex justify-content-center">
                                    <p class="heading">Update Status</p>
                                </div>

                                <!--Body-->
                                <div class="modal-body">

                                    <i class="fas fa-info-circle fa-3x"></i>
                                    <br><br>
                                    This retailer's account status will be updated

                                </div>

                                <!--Footer-->
                                <form action="" method="">
                                    {% csrf_token %}
                                    <div class="modal-footer flex-center">
                                        <button href="" type="submit" class="btn btn-primary btn-block">Yes</button>
                                        <a type="button" class="btn  btn-outline-secondary"
                                            data-bs-dismiss="modal">No</a>
                                    </div>
                                </form>

                            </div>
                            <!--/.Content-->
                        </div>
                    </div>
                    <!-- Modal2 -->
                    <div class="card-body px-0 pt-4 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th
                                            class=" th-new text-center text-uppercase text-secondary  font-weight-bolder opacity-7">
                                            Business Name</th>
                                        <th
                                            class="th-new text-center text-uppercase text-secondary  font-weight-bolder opacity-7 ps-2">
                                            Address</th>
                                        <th
                                            class="th-new text-center text-uppercase text-secondary  font-weight-bolder opacity-7 ps-2">
                                            Contact Name</th>
                                        <th
                                            class="th-new text-center text-uppercase text-secondary  font-weight-bolder opacity-7 ps-2">
                                            Email</th>
                                        <th
                                            class="th-new text-center text-uppercase text-secondary  font-weight-bolder opacity-7 ps-2">
                                            Status</th>

                                        <th
                                            class="th-new text-center text-uppercase text-secondary  font-weight-bolder opacity-7 ps-2">
                                            Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for retailer in retailers %}
                                    <tr>
                                        <td class="text-center">
                                            <p class=" font-weight-bold mb-0">{{ retailer.business_name }}</p>
                                        </td>
                                        <td class="text-center">
                                            <p class=" font-weight-bold mb-0">{{ retailer.address }}</p>
                                        </td>
                                        <td class="text-center">
                                            <p class=" font-weight-bold mb-0">{{ retailer.contact_name }}</p>
                                        </td>
                                        <td class="text-center">
                                            <p class=" font-weight-bold mb-0">{{ retailer.user.email }}</p>
                                        </td>
                                        <td class="text-center">

                                            {%if retailer.is_active == False%}
                                            <span id="status_acc" style="color: red;"
                                                class=" font-weight-bold mb-0">{{ retailer.is_active|yesno:"Active,Inactive" }}</span>
                                            {% endif %}
                                            {%if retailer.is_active == True%}
                                            <span id="status_acc" style="color: green;"
                                                class=" font-weight-bold mb-0">{{ retailer.is_active|yesno:"Active,Inactive" }}</span>
                                            {% endif %}
                                        </td>



                                        <td class="text-center">
                                            <form method="POST" action="{% url 'deactivate_retailer' retailer.id %}"
                                                class="updateForm" data-status="retailer.is_active"
                                                data-product="{{retailer.business_name}}">
                                                {% csrf_token %}
                                                <input value="Update" type="submit"
                                                    class="btn btn-primary btn-block btn-xs mt-3 update">
                                                </input>
                                            </form>
                                        </td>
                                    </tr>


                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% include 'w-pagination.html' with queryset=retailers custom_range=custom_range %}
                </div>
            </div>
        </div>
    </div>

    <script>
        const updateForms = document.querySelectorAll('.updateForm');
        const status = document.getElementById('status_acc').innerText;

        if (status == 'Active') {


            for (const x of updateStatus) {

                x.style.background = '#cc0000';
                x.value = 'Deactivate';
            }

            for (const item of updateForms) {
                item.addEventListener('click', (e) => {
                    e.preventDefault()
                    let name = item.dataset.product
                    swal({
                            title: `Deactivate the account status of ${name}?`,
                            icon: "warning",
                            buttons: true,
                            dangerMode: true,
                        })
                        .then((willDelete) => {
                            if (willDelete) {
                                item.submit()
                            }

                        });
                })
            }
        }

        if (status == 'Inactive') {

            for (const x of updateStatus) {


                x.style.background = '#339933';
                x.value = 'Activate';

            }
            for (const item of updateForms) {
                item.addEventListener('click', (e) => {
                    e.preventDefault()
                    let name = item.dataset.product
                    swal({
                            title: `Activate the account status of ${name}?`,
                            icon: "warning",
                            buttons: true,
                            dangerMode: true,
                        })
                        .then((willDelete) => {
                            if (willDelete) {
                                item.submit()
                            }

                        });
                })
            }
        }
    </script>

    {% endblock content %}