{% extends 'main_account.html' %}
{% load static %}
{% block title %}Registration - Retailer{% endblock title %}
{% block content %}
<style>
  #image{
   width: 200px;
   height: 200px;
   border-radius: 50%;
   border: solid;
   border-color:#404040;
   margin: 0 auto;
   display: block;
}
</style>
<section class="ftco-section login-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="wrap d-md-flex">
          <div class="wrap d-md-flex">
            <div class="p-4 p-lg-5 text-center d-flex align-items-center order-md-last" style="{% if wholesaler.color %}background-color:{{wholesaler.color}}{% endif %}; width: 50%">
              <img src="{% if wholesaler.wholesaler_image == 'products/default.jpg' %}{% static 'assets2/images/HIVE.png'%}{% else %}{{ wholesaler.wholesaler_image.url }}{% endif %}" id="image">
            </div>
          <div class="login-wrap p-4 p-lg-5">
            <div class="d-flex">
              <div class="w-100">
                <h3 class="mb-4">Enter your Business Details</h3>
              </div>
            </div>
            <form method = "POST" id="wholesaler_profile" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group mb-3">
                <label class="label">Business Name</label>
                {{form.business_name}}
              </div>
              <div class="form-group mb-3">
                <label class="label">Contact Name</label>
                {{form.contact_name}}
              </div>
              <div class="form-group mb-3">
                <label class="label">Contact Number</label>
                {{form.contact_number}}
                <div class="message"></div>
              </div>
              <div class="form-group mb-3">
                <label class="label">Upload Logo</label>
                {{form.retailer_image}}
              </div>
              <hr>
              <div class="form-group mb-3">
                <label class="label">Address</label>
                {{form.address}}
              </div>
              <div class="form-group mb-3">
                <label class="label">Region</label>
                {{form.region}}
              </div>
              <div class="form-group mb-3">
                <label class="label">City</label>
                {{form.city}}
              </div>
              <br>
              <div class="form-group">
                <button type="submit" class="form-control btn btn-primary submit px-3">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Enter your Business Details - Retailer</p>
                  <form class="mx-1 mx-md-4" method = "POST" id="wholesaler_profile">
                    {% csrf_token %}
                    {%for field in form%}
                    <div class="d-flex flex-row align-items-center mb-4">
                        <div class="form-outline flex-fill mb-0">
                            {{field}}
                            <label class ="form-label">{{field.label}}</label>
                        </div>
                      </div>
                    {%endfor%}
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                      </div>
                  </form>
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                    class="img-fluid" alt="Sample image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <script>

    const form = document.querySelector('#wholesaler_profile');
    const message = document.querySelector('.message');
    let alertShown = false; // flag variable
    
    form.addEventListener('submit', function(e){

        const format = /^\d{11}$/;
        const number = document.querySelector('#id_contact_number');

        if (number.value.match(format)) {
            message.innerHTML = '';
            console.log('Form submitted successfully');
            return true;
        } else {
            if (!alertShown) { // show message only if it hasn't been shown before
                document.querySelector('#id_contact_number').style.borderColor = "red";
                const alertBox = document.createElement('div');
                alertBox.innerHTML = '<p style="color:#f02849; font-size: 14px; margin-left: 10px; ">Please enter an 11-digit phone number</p>';
                message.appendChild(alertBox);
                alertShown = true; // set the flag variable to true
            }
            e.preventDefault();
        }
    });
  
</script>


{% endblock %}