{% extends 'main2.html' %}
{% load static %}

{% block title %}Profile - Retailer{% endblock title %}
{% block content %}

<style>
    #image{
     width: 200px;
     height: 200px;
     border-radius: 50%;
     border: solid;
     border-color:#404040;
     margin: 0 auto;
     display: block;
 }
 </style>

<div class="container-xl px-4 mt-4">
   <div class="row">
       <div class="col-xl-4">
           <!-- Profile picture card-->
           <div class="card mb-4 mb-xl-0">
               <div class="card-header">Profile Picture</div>
               <form  action = "" method = "POST" id="retailer_edit_profile" enctype="multipart/form-data">
                  {% csrf_token %}
               <div class="card-body text-center mb-5">
                    <img id="image" thumbnail src="{{form.instance.retailer_image.url}}">
                    <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                    <br>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                        Upload new image
                    </button>
                
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                        <!--Content-->
                            <div class="modal-content text-center">
                                <!--Header-->
                                <div class="modal-header d-flex justify-content-center">
                                <p class="heading">Upload your image</p>
                                </div>
                                <!--Body-->
                                <div class="modal-body" id="retailer_image">
                                    {{form.retailer_image}}
                                </div>
                                <div class="modal-footer flex-center">
                                <a type="button" class="btn btn-primary btn-block" data-bs-dismiss="modal">Continue</a>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
           </div>
       </div>
       <div class="col-xl-8">
           <!-- Account details card-->
           <!-- Account details card-->
           <div class="card mb-4">
            <div class="card-header">Account Details</div>
            <div class="card-body">
               
                    <!-- Form Group (username)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="inputUsername"><b>Business Name</b></label>
                        {{form.business_name}}
                    </div>
                    <!-- Form Row-->
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (first name)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputFirstName"><b>Contact Name</b></label>
                            {{form.contact_name}}
                        </div>
                        <!-- Form Group (last name)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputLastName"><b>Contact Number</b></label>
                            {{form.contact_number}}
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="small mb-1" for="inputEmailAddress"><b>Address</b></label>
                        {{form.address}}
                    </div>
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (phone number)-->
                        <div class="col-md-6">
                        <label class="small mb-1" for="inputEmailAddress"><b>Region</b></label>
                        {{form.region}}
                        </div>
                        <div class="col-md-6">
                        <label class="small mb-1" for="inputEmailAddress"><b>City</b></label>
                        {{form.city}}
                        </div>
                    </div>
                       <button type="submit" class="btn btn-primary btn-lg">Save Changes</button>
                </form>
               </div>
           </div>
       </div>
   </div>
</div>

<script>

   const form = document.querySelector('#retailer_edit_profile');
   
   form.addEventListener('submit',function(e){

     var format = /^\d{11}$/;
     const number = document.querySelector('#id_contact_number')

     if (number.value.match(format))
     {
       return true;
     }

     else {
       alert("Please enter an 11-digit phone number");
       document.querySelector('#id_contact_number').style.borderColor = "red";
       e.preventDefault(); 
     }
   
   } ) 

    const imageInput = document.querySelector('#id_retailer_image');

    imageInput.addEventListener('change', function() {
    const imagePreview = document.querySelector('#image');
    imagePreview.src = URL.createObjectURL(this.files[0]);
    });

 
 </script>

{% endblock %}