{% load static %}
<div class="sidebar">
    <!--
Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
-->
    <div class="logo">
        <a href="{% url 'dashboard' %}" class="logo-large navbar-brand-img h-100">
            <img
            src="{% static 'assets2/images/HIVE.png'%}"
            height="50"
            alt="MDB Logo"
            loading="lazy"
          />
        </a>
    </div>
    <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
            <li {% if request.path == '/hiveadmin/' %}class="active" {% endif %} >
                <a href="{% url 'dashboard' %}">
                    <i class="fa fa-poll"></i>
                    <p>Dashboard</p>
                </a>
            </li>
      
            <li {% if request.path == '/hiveadmin/wholesalers/' %}class="active" {% endif %}>
                <a href="{% url 'list_wholesalers' %}">
                    <i class="fas fa-warehouse"></i>
                    <p>Wholesalers</p>
                </a>
            </li>
            <li {% if request.path == '/hiveadmin/transactions/' %}class="active" {% endif %}>
                <a href="{% url 'transactions' %}">
                    <i class="fas fa-handshake"></i>
                    <p>Transactions</p>
                </a>
            </li>
            <li {% if request.path == '/hiveadmin/admin/' %}class="active" {% endif %}>
                <a href="{% url 'admins' %}">
                    <i class="fas fa-user-shield"></i>
                    <p>Manage Admins</p>
                </a>
            </li>
         
            <li  {% if request.path == '/hiveadmin/logout/' %}class="active" {% endif %}>
                <a href="{% url 'logout_admin' %}">
                    <i class="fas fa-sign-out-alt"></i>
                    <p>Log out</p>
                </a>
            </li>
            
        </ul>
    </div>
</div>

  