{% load static %}
<style>
@media (min-width: 992px){
   .page-footer{
       position:absolute;
       right: 0;
       bottom: 0;
       left: 0;
   }
}
</style>
<footer style="bg-light">
   <div class="container-fluid mx-4 text-center text-md-left"> 
       <div class="row">
          <div class="col-md-4">
              <div class="mb-5 full">
                 <div class="logo_footer">
                   <a href="#"><img width="100" src="{{ request.user.retailer.wholesaler.wholesaler_image.url }}" alt="#" /></a>
                 </div>
                 <div class="information_f">
                   <p class="text-black">	<span class="fa fa-map-marker"></span>&nbsp;<strong>ADDRESS:</strong> 28 White tower, Street Name New York City, USA</p>
                   <p class="text-black"><span class="fa fa-phone"></span>&nbsp;<strong>TELEPHONE:</strong> +91 987 654 3210</p>
                   <p class="text-black"><span class="fas fa-envelope"></span>&nbsp;<strong>EMAIL:</strong> yourmain@gmail.com</p>
                 </div>
              </div>
          </div>

          <div class="col-md-8">
             <div class="row ms-auto"> 
                        <div class="col-md-3 ms-auto">
                     <div class="widget_menu text-black">
                        <h3><span class="fas fa-shopping-bag"></span>&nbsp; Shop</h3>
                        <ul class="text-black">
                           <li><a href="#"><p class="text-black">Products</p></a></li>
                           <li ><a href="#"><p class="text-black">About</p></a></li>
                           <li><a href="#"><p class="text-black">Services</p></a></li>
                        </ul>
                     </div>
                  </div> 	
                  <div class="col-md-3">
                     <div class="widget_menu text-black">
                        <h3><span class="fas fa-user-alt"></span>&nbsp;Account</h3>
                        <ul>
                           <li><a href="#"><p class="text-black">Profile</p></a></li>
                           <li><a href="#"><p class="text-black">Orders</p></a></li>
                        </ul>
                     </div>
                     
                  </div>
                  
            </div>
                 
            
         </div> 
      </div>
      <br>
       <br>
   </div>

 </footer>