{% load static %}

<style>
    #image1{
    width: 28px;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    border-radius: 50px;
    border-color:black;
 }
 </style>

<div class="min-height-300 {% if not request.user.wholesaler.color %}bg-primary{% endif %} position-absolute w-100"
    style="{% if request.user.wholesaler.color %}background-color:{{request.user.wholesaler.color}}{% endif %}"></div>
<aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 "
    id="sidenav-main">
    <div class="sidenav-header" style="  display: flex;">
        <a class="navbar-brand m-0" href="{% url 'w_dashboard' %}">
            <img src="{% if request.user.wholesaler.wholesaler_image == 'products/default.jpg' %}{% static 'assets2/images/HIVE.png'%}{% else %}{{ request.user.wholesaler.wholesaler_image.url }}{% endif %}"
                 alt="main_logo" id="image1">
        </a>
        <div class="" style="margin-top: 26px; overflow: hidden; text-overflow: ellipsis;">            
            <b><p style="word-wrap: break-word;" class="font-weight-bold">{{ request.user.wholesaler.business_name }}</p></b>
        </div>
    </div>
    <hr class="horizontal dark mt-0">

    <ul class="navbar-nav">
        <li class="nav-item" >
            <a class="nav-link mt-2 {% if request.path == '/' %}active{% endif %}" href="{% url 'w_dashboard' %}">
                <div
                    class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="fa fa-poll text-warning text-sm opacity-10"></i>
                </div>
                <span class="nav-link-text ms-1">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link mt-2  {% if request.path == '/analytics/' %}active{% endif %}" href="{% url 'display_analytics' %}">
                <div
                    class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="	fas fa-chart-line text-success text-sm opacity-10"></i>
                </div>
                <span class="nav-link-text ms-1">Analytics</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link mt-2  {% if request.path == '/retailers/' or request.path == '/retailers/logs/'%}active{% endif %}" href="{% url 'retailers' %}">
                <div
                    class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="fas fa-house-user text-primary text-sm opacity-10"></i>
                </div>
                <span class="nav-link-text ms-1">Retailers</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link mt-2  {% if request.path == '/orders/' %}active{% endif %}" href="{% url 'display_orders' %}">
                <div
                    class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="fas fa-dolly text-info text-sm opacity-10"></i>
                </div>
                <span class="nav-link-text ms-1">Orders</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link mt-2 {% if request.path == '/products/' or request.path == '/products/new/' or request.path == '/products/categories/' or request.path == '/products/categories/new/' %}active{% endif %}" href="{% url 'products' %}">
                <div
                    class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="fas fa-boxes text-danger text-sm opacity-10"></i>
                </div>
                <span class="nav-link-text ms-1">Inventory</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link mt-2 {% if request.path == '/wholesalers/transactions/' %}active{% endif %}" href="{% url 'transactions_wholesalers' %}">
                <div
                    class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="fas fa-money-check text-success text-sm opacity-10"></i>
                </div>
                <span class="nav-link-text ms-1">Transactions</span>
            </a>
        </li>
        

        <div class ="">
        <li class="nav-item mt-3">
            <h6 class="ps-4 ms-2 text-uppercase text-s font-weight-bolder opacity-6">Account</h6>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.path == '/wholesalers/view-profile/' or request.path == '/wholesalers/edit-profile/' %}active{% endif %}" href="{% url 'wholesaler_view_profile' %}">
                <div
                    class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="ni ni-single-02 text-secondary text-sm opacity-10"></i>
                </div>
                <span class="nav-link-text ms-1">Profile</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{% url 'logout_wholesaler' %}">
                <div
                    class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="fas fa-sign-out-alt text-danger text-sm opacity-10"></i>
                </div>
                <span class="nav-link-text ms-1">Logout</span>
            </a>
        </li>
        </div>
    </ul>

</aside>
<main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl ">
        <div class="container-fluid py-1 px-3">
            
            <!-- <ul class="navbar-nav  justify-content-end">
                <div class="col-lg-12">
                    <li class="">
                        <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
                            <div class="sidenav-toggler-inner">
                                <i class="sidenav-toggler-line bg-white"></i>
                                <i class="sidenav-toggler-line bg-white"></i>
                                <i class="sidenav-toggler-line bg-white"></i>
                            </div>
                        </a>
                    </li>
                </div>
            </ul> -->

                <h6 class="font-weight-bolder text-white mb-0">
                    <br>
                    {% if request.path != '/'%}
                    <a href="javascript:history.go(-1);"><i class='far fa-arrow-alt-circle-left' style='color:white'></i></a>
                    {%endif%}
                    &nbsp;
                    {% if request.path == '/products/' %}
                    Inventory
                    {% elif request.path == '/' %}
                    Dashboard
                    {% elif request.path == '/analytics/' %}
                    Analytics
                    {% elif request.path == '/orders/' %}
                    Orders
                    {% elif request.path == '/retailers/' %}
                    Retailers
                    {% elif request.path == '/wholesalers/edit-profile/' %}
                    Edit Profile
                    {% elif request.path == '/wholesalers/view-profile/' %}
                    Profile
                    {% elif request.path == '/wholesalers/transactions/' %}
                    List of Tranasctions
                    {% elif request.path == '/retailers/logs/' %}
                    Logs
                    {%endif%}
                </h6>
   
    </div>
    </nav>