<style>
  .active{
    background-color: #A77802 !important;
    color:white !important;
  }
</style>
{% if queryset.has_other_pages %}

<nav aria-label="Page navigation example" style="background-color: white !important;">
    {% if queryset.has_other_pages %}
    <ul class="pagination justify-content-center">
       {% if queryset.has_previous %}
          <li class="page-item"><a href="?page={{queryset.previous_page_number}}" class="btn page-link pagination1" tabindex="-1" data-page="{{ products.previous_page_number }}">&#10094;</a></li>
          {% endif %}

          {% for page in custom_range %}
          {% if page == queryset.number %}
          <li class="page-item active"><a class="page-link pagination1" href="?page={{page}}" data-page="{{ page }}">{{ page }}</a></li>
          {% else %}
          <li class="page-item"><a class="page-link pagination1" href="?page={{page}}" data-page="{{ page }}">{{ page }}</a></li>
          {% endif %}

          {% endfor %}
          {% if queryset.has_next %}
          <li class="page-item"><a href="?page={{queryset.next_page_number}}" class="btn page-link pagination1" data-page="{{ queryset.next_page_number }}">&#10095;</a></li>
          {% endif %}

    </ul>
</nav>
  {% endif %}

{% endif %}
