{% extends 'main_account.html' %}
{% load static %}

{% block content %}

<!-- <!- <style>
    img {
        border-radius: 50%;
    }
</style>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-6">
                <div class="login-wrap py-5 shadow-lg">
                    <div class="img d-flex align-items-center justify-content-center">
                        <img src="{% static 'assets4/images/bg.jpg'%}" width="100" height="100">
                      </div>
                      <h3 class="text-center mb-0">Wholesaler Admin</h3>
                    <br>
                    <main class="formPage my-xl">
                        <div class="content-box">
                            <div class="formWrapper">
                                <h2 class="text-dark font-weight-bold">Password reset complete</h2>
                    
                                <p class=" text-md text-secondary font-weight-bold">Your password has been set. You may go ahead and log in now</p>
                                <br>
                    
                                
                            </div>
                        </div>
                    </main>
             </div>
            </div>
        </div>
    </div>
</section> --> 

<section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-10">
          <div class="wrap d-md-flex">
            <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
              <img src="{% static 'assets2/images/HIVE.png'%}" width="480px" height="100px">
            </div>
            <div class="login-wrap p-4 p-lg-5">

              <h2 class="text-dark font-weight-bold">Password reset complete</h2>
                    
              <p class=" text-md text-secondary font-weight-bold">Your password has been set. You may go ahead and log in now</p>
            <br>
              <form method="POST">
                {% csrf_token %}
                <div class="form-group mb-3">
                  
                    {{ form.as_p }} 
                </div>
                
                <div class="w-10" style="margin-left: 1px;">
                    <a href="{% url 'login_wholesaler' %}">Go Back to Login Page</a>
                  </div>
                  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}