{% extends 'main_account.html' %}
{% load static %}

{% block content %}

<section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-10">
          <div class="wrap d-md-flex">
            <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
              <img src="{% static 'assets2/images/check.png'%}" style="margin-left: 20%;" width="230px" height="200px">
            </div>
            <div class="login-wrap p-4 p-lg-5">

              <h2 class="text-dark font-weight-bold">Password reset complete</h2>
                    
              <p class="mt-5 text-md text-primary font-weight-bold">Your password has been set. You may go ahead and log in now</p>
            <br>
              <form method="POST">
                {% csrf_token %}
                <div class="form-group mb-3">
                    {{ form.as_p }} 
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}