{% extends 'main_account.html' %}
{% load static %}

{% block content %}

 <style>
    #id_new_password1 {
        width: 50%;
    }
    #id_new_password2 {
        width: 50%;
    }
</style>

<!-- <main class="formPage my-xl">
  <div class="content-box">
      <div class="formWrapper">
          <h3>Enter new password</h3>

          <p>Please enter your new password twice so we can verify ou typed it in correctly</p>
          <br>

          <form class="form" method="POST">
              {% csrf_token %}
              <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" aria-autocomplete="list">
              <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">

              <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
          </form>
      </div>
  </div>
</main> -->


<section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-10">
          <div class="wrap d-md-flex">
            <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
              <img src="{% static 'assets2/images/HIVE.png'%}" width="480px" height="100px">
            </div>
            <div class="login-wrap p-4 p-lg-5">
         
              <main class="formPage my-xl">
                <div class="content-box">
                    <div class="formWrapper">

              <h2 class="text-dark font-weight-bold">Enter new password</h2>
              <p class=" text-md text-primary font-weight-bold">Please enter your new password twice so we can verify you typed it in correctly</p>
            <form class="form" method="POST">
                
                {% csrf_token %}
                
                <div class="form-group mb-3">
                  <label class="label ml-3" for="id_new_password1">Password:</label>
                  <div class="input-group">
                    <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" aria-autocomplete="list">
                    <div class="input-group-append"> 
                      <span class="input-group-text">
                          <i class="fa fa-eye" id="togglePassword" style="cursor: pointer;"></i>
                        </span>
                    </div>
                    {% if form.password1.errors %}
                    <div style = "color:red;">
                      {{form.password1.errors}} 
                    </div>
                    {% endif %}
                </div>
              </div>
              
              <div class="form-group mb-3">
                <label class="label ml-3" for="id_new_password2">Confirm Password:</label>
                <div class="input-group">
                  <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                  <div class="input-group-append"> 
                    <span class="input-group-text">
                        <i class="fa fa-eye" id="togglePassword2" style="cursor: pointer;"></i>
                      </span>
                  </div>
                  {% if form.password2.errors %}
                <div style = "color:red;">
                  {{form.password2.errors}} 
                </div>
                {% endif %}
              </div>
            </div>
             <div class="message"></div>   

                <br>
                <div class="form-group">
                  <button type="submit" class="form-control btn btn-primary submit px-3" value="Submit">Submit</button>
                </div>

            
                  
              </form>
                </div>
            </div>
            </main>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <script>
    const username = document.querySelector('#id_new_password1');
    const password = document.querySelector('#id_new_password2');
    const message = document.querySelector('.message');
    
    let capsLockAlertShown = false;
    
    username.addEventListener('keyup', function (e) {
    if (e.getModifierState('CapsLock') && !capsLockAlertShown) {
        const alertBox = document.createElement('div');
        alertBox.innerHTML = '<p style="color:#f02849; font-size: 14px; margin-left: 10px; ">Caps lock is on</p>';
        message.appendChild(alertBox);
        capsLockAlertShown = true;
    } else if (!e.getModifierState('CapsLock')) {
        message.innerHTML = '';
        capsLockAlertShown = false;
    }
    });
    
    password.addEventListener('keyup', function (e) {
    if (e.getModifierState('CapsLock') && !capsLockAlertShown) {
        const alertBox = document.createElement('div');
        alertBox.innerHTML = '<p style="color:#f02849; font-size: 14px; margin-left: 10px; ">Caps lock is on</p>';
        message.appendChild(alertBox);
        capsLockAlertShown = true;
    } else if (!e.getModifierState('CapsLock')) {
        message.innerHTML = '';
        capsLockAlertShown = false;
    }
    });

  </script>

  <script>

  const togglePassword = document.querySelector('#togglePassword');
  const togglePassword2 = document.querySelector('#togglePassword2');
  const passwordInput = document.querySelector('#id_new_password1');
  const passwordInput2 = document.querySelector('#id_new_password2');

  togglePassword.addEventListener('click', function (e) {

    const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
    passwordInput.setAttribute('type', type);
    this.classList.toggle('fa-eye-slash');
});

togglePassword2.addEventListener('click', function (e) {

const type = passwordInput2.getAttribute('type') === 'password' ? 'text' : 'password';
passwordInput2.setAttribute('type', type);
this.classList.toggle('fa-eye-slash');
});

 </script>


{% endblock content %}