{% extends 'main_account.html' %}
{% load static %}
{% autoescape off %}
{% block content %}

<style>
  #id_email {
    width: 50%;

  }
</style>


<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="wrap d-md-flex">
          <div class="text-wrap p-4 p-lg-5 d-flex align-items-center justify-content-center order-md-last">
            <img src="{% static 'assets2/images/forgot-password.png'%}" style="margin-left: 15%;" width="300px"
              height="250px">
          </div>
          <div class="login-wrap p-4 p-lg-5">
            <div class="d-flex">
              <div class="w-100">

                <h2 class="mb-4 font-weight-bolder">Reset your Account Password</h2>


              </div>
            </div>
            <p class=" text-md text-primary font-weight-bold">Forgotten your password? Enter your email address below,
              and we'll email instructions for setting a new
              one.</p>
            <br>

            <form method="POST">
              {% csrf_token %}
              <div class="form-group mb-3">
                <label class="label ml-3" for="id_email">Email:</label>
                <input class="form-control w-100" type="email" name="email" autocomplete="email" maxlength="254"
                  required="" id="id_email" placeholder="Enter Email">
                  {% for error in form.email.errors %}
                  <p class="text-danger ml-3">{{ error }}</p>
                  {% endfor %}
              </div>
              <p id="error" style="color: red"></p>
              <div class="form-group ">
                <button type="submit" id="submitButton" class="form-control btn btn-primary submit px-3"
                  value="Submit">Submit</button>
              </div>


            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  const emailInput = document.getElementById('id_email');
  const submitButton = document.getElementById('submitButton');
  const error = document.getElementById('error');

  function validateEmail() {
    const email = emailInput.value.trim();
    const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    if (!regex.test(email)) {
      emailInput.style.borderColor = "red";
      error.textContent = '• Please enter a valid email address.';
      return false;
    }
    error.textContent = '';
    return true;
  }

  submitButton.addEventListener('click', (event) => {
    if (!validateEmail()) {
      event.preventDefault();
    }
  });
</script>

{% endblock content %}
{% endautoescape  %}