{% extends 'main_account.html' %}
{% load static %}

{% block content %}

<section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-10">
          <div class="wrap d-md-flex">
            <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
              <img src="{% static 'assets2/images/email.png'%}" style="margin-left: 10%;" width="300px" height="250px">
            </div>
            <div class="login-wrap p-4 p-lg-5">
              <div class="d-flex">
                <div class="w-100">
             
                </div>
              </div>
                <main class="formPage my-xl">
                    <div class="content-box">
                        <div class="formWrapper">
                            <h2 class="text-dark font-weight-bold">Password reset sent</h2>
                            <p class=" text-md text-primary font-weight-bold">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                            <br>
                            <p class=" text-md text-primary font-weight-bold">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>     
                        </div>
                    </div>
                </main>
          
            
         
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

{% endblock content %}