{% extends 'main_account.html' %}
{% load static %}
{% autoescape off %}
{% block content %}

<style>
  #id_email {
      width: 50%;

  }
</style>


<section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-10">
          <div class="wrap d-md-flex">
            <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
              <img src="{% static 'assets2/images/HIVE.png'%}" width="480px" height="100px">
            </div>
            <div class="login-wrap p-4 p-lg-5">
              <div class="d-flex">
                <div class="w-100">

                  <h2 class="mb-4 font-weight-bolder">Reset your Account Password</h2>
               
             
                </div>
              </div>
              <p class=" text-md text-primary font-weight-bold">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new
                one.</p>
            <br>
              <form method="POST">
                {% csrf_token %}
                <div class="form-group mb-3">
                  <label class="label ml-3" for="id_email">Email:</label>
                  <input class="form-control w-100" type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" placeholder="Enter Email">
                </div>
                
                
                <div class="form-group ">
                  <button type="submit" class="form-control btn btn-primary submit px-3" value="Submit">Submit</button>
                </div>
              
                  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  


{% endblock content %}
{% endautoescape  %}