{% extends 'main2.html' %}
{% load static %}

{% block title %}Shop{% endblock title %}

{% block content %}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <a href="../"><i class='far fa-arrow-alt-circle-left mb-4' style='color:black; font-size:xx-large;'></i></a>
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ item.product_image.url }}" alt="..." />
            </div>
            <div class="col-md-6">
                <div class="small mb-1">{{ item.category }}</div>
                <h1 class="display-5 fw-bolder">{{ item.product_name }}</h1>
                <div class="fs-5 mb-5">
                    <span><b>Price: </b></span><span>₱{{ item.price }}</span>
                </div>

                <p class="lead">{{ item.description|linebreaksbr}}</p>
                <hr>
                <div class="fs-5 mb-3">
                    <span><b>Remaining Stocks: </b></span> <span id="item_quantity">{{ item.tempo_quantity }} </span>
                    <br>
                    <span><b>Minimum Order: </b></span> <span id ="item_minimum">{{ item.min_orders }}</span>
                </div>

                <form class ="needs-validation" novalidate>
                    <div class="form-inline has-validation">
                        <label><b>Quantity: </b></label>
                        <button id="decrease-quantity{{product.id}}" name = "decreaseq" data-index="{{product.id}}" class="btn btn-link px-2 reduce-quantity"
                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                            <i class="fas fa-minus"></i>
                        </button>

                        <input min="{{ item.min_orders }}" max="{{ item.tempo_quantity }}" type="number" value="{{ item.min_orders }}" id="inputQuantity" class="form-control text-center me-1 ml-3" required>
                        
                        <button id="increase-quantity{{product.id}}" data-index="{{product.id}}" class="btn btn-link px-2 increase-quantity"
                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <p style="color:red;" id="demo"></p>


                    <div class="flex items-center bR6mEk">
                        <button class="btn btn-outline-secondary flex-shrink-0" aria-label="28(50-55kg)" aria-disabled="false" type="button">28(50-55kg)</button>
                        &nbsp;
                        <button class="btn btn-outline-secondary flex-shrink-0" aria-label="30(55-60kg)" aria-disabled="false" type="button">30(55-60kg)</button>
                        &nbsp;
                        <button class="btn btn-outline-secondary flex-shrink-0" aria-label="32(60-65kg)" aria-disabled="false" type="button">32(60-65kg)</button>
                        &nbsp;
                        <button class="btn btn-outline-secondary flex-shrink-0" aria-label="34(65-70kg)" aria-disabled="false" type="button">34(65-70kg)</button>
                        &nbsp;
                    </div>
                   <br>
                    <button class="btn btn-outline-dark flex-shrink-0" id="add-button" value="{{item.id}}" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>

                    <div id="alert-container-1" class="d-none">
                        <div class="alert alert-success alert-dismissible fade show mt-3" id="success" role="alert" style="text-align: center;">
                            Added to cart
                        </div>
                    </div>
    
                    <!-- <div id="alert-container-2" class="d-none">
                        <div class="alert alert-danger alert-dismissible fade show mt-3" id="error" role="alert" style="text-align: center;">
                            Already exists
                        </div>
                    </div> -->

                </form>
            </div>
        </div>
    </div>
</section>

<script>
    

    const addButton = document.querySelector('#add-button');
    const inputQuantity = document.querySelector('#inputQuantity');
    const increaseButtons = document.querySelectorAll('.increase-quantity');
    const decreaseButtons = document.querySelectorAll('.reduce-quantity');

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');
console.log()
    // ADD TO CART
    addButton.addEventListener('click', async function (e) {
        e.preventDefault();
        let x = document.getElementById("inputQuantity").value;
        const text = document.getElementById("demo")
        const iStocks = document.getElementById("item_quantity").innerText;
        const iMinimum= document.getElementById("item_minimum").innerText;

        if (isNaN(x) || x < parseInt(iMinimum)) {
            text.innerText = "Note: Minimum Quantity is " + iMinimum;
            inputQuantity.value = iMinimum;
        } 
        else if (x > parseInt(iStocks)) {
            text.innerText = "Note: Maximum Quantity is " + iStocks;
            inputQuantity.value = iMinimum;
        }
        else {
            text.innerText = "";
            const response = await fetch(`http://${window.location.hostname}:8000/cart/add/`, {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({
                productid: addButton.value,
                productqty: inputQuantity.value,
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            })
        })
        
        swal("Item has been added to cart", {
            icon: 'success',
            buttons: false,
            timer: 2000,
            });

        const data = await response.json();
        if (data) {
            document.querySelector('#cart-qty').innerHTML = data.qty;
            document.getElementById("alert-container-1").classList.remove("d-none")
             // Closing the alert
            setTimeout(function () {
            $('#success').alert('close');
            }, 3000);
        }

        const updatedstocks = document.getElementById("updatedstocks")
        if (updatedstocks) {
            
        }

        }
});

  // DECREASE QUANTITY BUTTON 

  for (const dec of decreaseButtons) {
    dec.addEventListener('click', async function (e) {
      e.preventDefault();
      let prodId = dec.dataset.index
      //const inputTag = document.querySelector(`#qty-input${prodId}`);
      const iStocks = document.getElementById(`item_quantity${prodId}`).innerText;
      const iMinimum= document.getElementById(`item_minimum${prodId}`).innerText;
      document.getElementById(`increase-quantity${prodId}`).disabled = false
      

      if ( parseInt(inputTag.value) < parseInt(iMinimum)) {
        alert("Quantity Input is less then the Minimum Order! ");
        this.disabled = true;
        inputTag.value = iMinimum;
        }   
      
        else {
          
          const response = await fetch("{% url 'cart_update' %}", {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json',
          'X-Requested-With': 'XMLHttpRequest',
          'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify({
          productid: prodId,
          productqty: inputTag.value,
          csrfmiddlewaretoken: "{{csrf_token}}",
          action: 'post'
          })
        });

        const data = await response.json();
          if (data) {
           document.querySelector('#cart-qty').innerHTML = data.qty
        }
        }
    });
  }


  // INCREASE BUTTON

  for (const inc of increaseButtons) {
    inc.addEventListener('click', async function (e) {
      e.preventDefault();
      let prodId = inc.dataset.index
      //const inputTag = document.querySelector(`#qty-input${prodId}`)
      const iStocks = document.getElementById(`item_quantity${prodId}`).innerText;
      const iMinimum= document.getElementById(`item_minimum${prodId}`).innerText;
      document.getElementById(`decrease-quantity${prodId}`).disabled = false
      

      if ( parseInt(inputTag.value) > parseInt(iStocks)) {
        alert("Quantity Input is more than the Available Stocks! ");
        this.disabled = true;
        inputTag.value = iStocks;
        }  
      
      else {

        const response = await fetch("{% url 'cart_update' %}", {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json',
          'X-Requested-With': 'XMLHttpRequest',
          'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify({
          productid: prodId,
          productqty: inputTag.value,
          csrfmiddlewaretoken: "{{csrf_token}}",
          action: 'post'
        })
      });

      const data = await response.json();
      if (data) {
        document.querySelector('#cart-qty').innerHTML = data.qty;
      }

      }
    });
  }
</script>

{% endblock content %}