{% extends 'main2.html' %}
{% load static %}

{% block title %}Shop{% endblock title %}

{% block content %}

<style>
   .pagination1{
      color:black;
   }
</style>

<!-- product section -->
<section class="product_section layout_padding">
   <div class="container">
      <div class="heading_container heading_center">
            <form action="{% url 'show_shop' %}" method="GET" id="searchForm">
               <div class="row">
                  <div class="col-10 d-flex mt-4 mx-5">
                     
                     <div class="form-group pl-4 has-search input-group">
                        <input type="search" value="{{ search_query }}" class="form-control" name="search_query" placeholder="Search Products or Category">
                        <div class="input-group-append">                           
                           <button class="input-group-text fa fa-search" value="{{ search_query }}" type="submit"></button>
                        </div>
                     </div>

                     <select class="form-select" id="filter_category" aria-label="Default select example" style="margin-left: 15px; width: 200px; height: 38px;">
                        <option selected disabled>Filter By:</option>
                        {% for c in categories %}
                        <option value="{{c.name}}" {% if request.GET.category and request.GET.category == c.name %}selected{% endif %}>
                            {{c.name|title}}
                        </option>
                        {% endfor %}
                      </select>
                  </div>
               </div>
            </form>
      </div>
      <div class="row">

         {% for product in products %}
         <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="box">
               <div class="option_container">
                  <div class="options">
                     <a href="{% url 'view_item' product.id %}" class="option2">
                        View
                     </a>
                  </div>
               </div>
               <div class="img-box">
                  <img src="{{product.product_image.url}}" alt="">
               </div>
               <div class="detail-box">
                  <h5>
                     {{ product.product_name }}
                  </h5>
                  <h6>
                     
                  </h6>
               </div>
               <div class="detail-box">
                  <small>₱{{ product.price}}</small>
               </div>
               <div class="detail-box">
                  <small>{{product.category}}</small>
               </div>
            </div>
         </div>
         {% endfor %}

      </div>
      {% include 'r-pagination.html' with queryset=products custom_range=custom_range %}
   </div>
</section>

{% endblock content %}