{% extends 'main2.html' %}
{% load static %}

{% block title %}Shop{% endblock title %}

{% block content %}




<!-- product section -->
<section class="product_section layout_padding">
   <div class="container">
      <div class="heading_container heading_center">
         <div class="row">
            <div class="col-10">
               <form action="{% url 'show_shop' %}" method="GET" id="searchForm">
                  <div class="form-group has-search">
                     <span class="fa fa-search form-control-feedback"></span>
                     <input type="search" value="{{ search_query }}" class="form-control" name="search_query" placeholder="Search Products or Category">
                   </div>
               </form>
            </div>
         </div>

      </div>
      <div class="row">

         {% for product in products %}
         <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="box">
               <div class="option_container">
                  <div class="options">
                     <a href="{% url 'view_item' product.id %}" class="option2">
                        View
                     </a>
                  </div>
               </div>
               <div class="img-box">
                  <img src="{{product.product_image.url}}" alt="">
               </div>
               <div class="detail-box">
                  <h5>
                     {{ product.product_name }}
                  </h5>
                  <h6>
                     
                  </h6>
               </div>
               <div class="detail-box">
                  <small>₱{{ product.price}}</small>
               </div>
               <div class="detail-box">
                  <small>{{product.category}}</small>
               </div>
            </div>
         </div>
         {% endfor %}

      </div>
      <div class="btn-box">
         {% if products.has_other_pages %}
         <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
               {% if products.has_previous %}
               <li class="page-item"><a href="?page={{products.previous_page_number}}" class="btn page-link" tabindex="-1" data-page="{{ products.previous_page_number }}">&#10094; Prev</a></li>
               {% endif %}

               {% for page in custom_range %}
               {% if page == products.number %}
               <li class="page-item active"><a class="page-link" href="?page={{page}}" data-page="{{ page }}">{{ page }}</a></li>
               {% else %}
               <li class="page-item"><a class="page-link" href="?page={{page}}" data-page="{{ page }}">{{ page }}</a></li>
               {% endif %}

               {% endfor %}
               {% if products.has_next %}
               <li class="page-item"><a href="?page={{products.next_page_number}}" class="btn page-link" data-page="{{ products.next_page_number }}">Next &#10095;</a></li>
               {% endif %}

            </ul>
          </nav>
          {% endif %}
      </div>
   </div>
</section>
<!-- end product section -->



{% endblock content %}