{% extends 'main.html' %}

{% block title %}Add category{% endblock title %}

{% block content %}
<style>

    label {
        font-size: 14px !important;
    }
    .form-group.has-error input {
        border-color: red;
    }

</style>
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex align-items-center">
                        <h6 class=" text-primary mb-0">Add a Category</h6>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% for field in form %}
                                <div class="form-group{% if field.errors %} has-error{% endif %}">
                                    <label for="{{ field.id_for_label }}" class="form-control-label">{{ field.label }}</label>
                                    {{ field }}
                                    {% for error in field.errors %}
                                        <span class="help-block" style="color:red; margin-left: 5px;">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% endfor %}
                                <button class="btn btn-primary btn-sm" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
