{% extends 'main.html' %}
{% block title %}{% endblock title %}
{% block content %}
<style>

    label {
        font-size: 16px !important;
    }
</style>
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex align-items-center">
                        <h6 class=" text-primary mb-0">Edit Product</h6>
                    </div>
                </div>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body">
                        {% if form.is_bound or form.min_orders.errors %}
                        <div id= "errorMessage" style = "color:red;">
                          {{form.min_orders.errors}} 
                        </div>
                      {% endif %}

                        <div class="row">
                            <div class="col-md-12">

                                      {% comment %} {% for field in form %} {% endcomment %}
                                {% if form.name != "with_variation" and form.name != "actual_stocks" %}
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Category</label>
                                    {{form.category }}
                                    <label for="example-text-input" class="form-control-label">Product Name </label>
                                    <div class="small font-italic text-muted mb-2 ">Maximum of 200 Characters</div>
                                    {{form.product_name }}
                                    <label for="example-text-input" class="form-control-label">Description</label>
                                    <div class="small font-italic text-muted mb-2 ">Maximum of 200 Characters</div>
                                    {{form.description }}
                                    <label for="example-text-input" class="form-control-label">Product Image</label>
                                    {{form.product_image }}
                                    <label for="example-text-input" class="form-control-label">Price</label>
                                    {{form.price }}
                                  {% endif %}
                                </div>
                             
                                {% comment %} {% endfor %} {% endcomment %}



                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">With variation</label>
                                    <select name="with_variation" class="form-control" required id="id_with_variation">
                                        {% for value, text in form.with_variation.field.choices %}
                                        <option value="{{ value }}"
                                            {% if product_variation and value in product_variation %}selected{% endif %}>
                                            {{ text }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div id="hidden_stocks" style="display:none;">
                                    <div class="form-group">
                                        <label for="example-text-input"
                                            class="form-control-label">{{ form.actual_stocks.label }}</label>
                                        {{ form.actual_stocks }}
                                    </div>
                                </div>
                            </div>
                            <label for="example-text-input" class="form-control-label">Minimum Order:</label>
                            <span id = "minimum">{{form.min_orders}}</span>
                            <div id="hidden_variation" style="display:none;">
                                <div class="row text-center" id="size-inputs">
                                    <a class="col-4 mx-auto mb-2 btn btn-info btn-sm mt-3 btn-block" href="{% url 'display_sizes' product.id%}"><i class="fas fa-pencil-alt"></i>&nbsp; Edit Variations</a>
                                </div>
                            </div>
                        </div>
                        <br><br>
                       
                        <div class="row">
                            <div class="w-25 mx-auto mt-3 text-center">
                                <button class="btn btn-success btn-sm" type="submit">Submit</button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const element = document.getElementById("id_with_variation");

    element.addEventListener("change", function () {
        if (element.value == '1') {
            document.getElementById('hidden_variation').style.display = "block";
            document.getElementById('hidden_stocks').style.display = "none";
        } else if (element.value == '0') {
            document.getElementById('hidden_variation').style.display = "none";
            document.getElementById('hidden_stocks').style.display = "block";
        }
    });
    window.addEventListener("load", (event) => {
        if (element.value == '1') {
            document.getElementById('hidden_variation').style.display = "block";
            document.getElementById('hidden_stocks').style.display = "none";
        } else if (element.value == '0') {
            document.getElementById('hidden_variation').style.display = "none";
            document.getElementById('hidden_stocks').style.display = "block";
        }
    });


</script>
{% endblock %}