{% extends 'main.html' %}
{% load static %}
{% load humanize%}
{% block title %}Products{% endblock title %}

{% block content %}
<style>

   

    .btn-ts {
            font-size: 14px !important;
     }
    
   
</style>

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="d-flex card">
                <section class="product_section layout_padding">
                  

                <div class="card-header pb-0">
                    <div class="d-flex align-items-center">
                        <form action="{% url 'products' %}" method="GET" id="searchForm">
                        
                        <div class="input-group">
                            <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
                                <input type="search" value="{{ search_query }}" class="form-control" name="search_query" placeholder="Search"> 
                            </div>
                        </form>
                        
                        <select class="form-select" id="filter_category" aria-label="Default select example" style="margin-left: 15px; width: 200px; height: 40px;">
                            <option selected disabled>Filter By:</option>
                            {% for c in categories %}
                            <option value="{{c.name}}" {% if request.GET.category and request.GET.category == c.name %}selected{% endif %}>
                                {{c.name|title}}
                            </option>
                            {% endfor %}
                        </select>
                        <div class="ms-auto mt-3">
                            <div class="d-flex">
                                <a class="btn-ts btn btn-primary btn-sm ms-auto" href="{%url 'create-product'%}"><i class="fa fa-plus"></i>&nbsp; Add Products 
                                </a>
                                &nbsp; &nbsp; 
                                <a class="btn-ts btn btn-primary btn-sm me-2" href="{%url 'categories'%}"><i class="fa fa-gear"></i>&nbsp; Manage Categories 
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
  
                    

                    <div class="card-body pt-4 px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-primary th-new font-weight-bolder opacity-7">
                                            Product Name</th>

                                        <th
                                            class="text-center text-uppercase text-primary th-new font-weight-bolder opacity-7">
                                            Category</th>
                                        <th
                                            class="text-center text-uppercase text-primary th-new font-weight-bolder opacity-7 ps-2">
                                            Stocks</th>

                                        <th
                                            class="text-center text-uppercase text-primary th-new font-weight-bolder opacity-7">
                                            Unit Price</th>

                                        <th
                                            class="text-center text-uppercase text-primary th-new font-weight-bolder opacity-7">
                                            Date Added</th>
                                        <th class="text-primary opacity-7"></th>
                                        <th class="text-primary opacity-7"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                    <tr>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div>
                                                    <img src="{{ product.product_image.url }}"
                                                        class="avatar avatar-sm me-3" alt="user1">
                                                </div>
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 test">{{ product.product_name }}</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-center  font-weight-bold mb-0">{{ product.category }}
                                            </p>
                                        </td>
                                        <td>
                                            
                                                {% if product.actual_stocks and product.with_variation == 0 %}
                                                <div class = "text-center">
                                                    <p class="font-weight-bold mb-0">{{ product.actual_stocks }}
                                                    </p>
                                                </div>
                                                {% else %}
                                                <a href="{%url 'display_sizes' product.id %}" class="font-weight-bold mb-0"> 
                                                   <u class> Variation count based  </u> 
                                                </a>
                                                {% endif %}
                                          
                                        </td>
                                        
                                        <td>
                                            <p class="text-center font-weight-bold mb-0">₱{{ product.price|floatformat:2|intcomma }}</p>
                                            
                                        </td>
                                        <td>
                                            <p class="text-center  font-weight-bold mb-0">{{ product.created }}
                                            </p>
                                        </td>

                                        <td class="align-middle">
                                            <a class="btn btn-link text-dark  text-sm px-2 mb-0"
                                                href="{%url 'edit-product' product.id %}"><i
                                                    class="fas fa-pencil-alt text-dark me-2"
                                                    aria-hidden="true"></i>Edit</a>
                                        </td>
                                        <td class="align-middle">
                                            <form method="POST" action="{%url 'delete-product' product.id%}"
                                                class="deleteProduct" data-product="{{product.product_name}}">
                                                {% csrf_token %}
                                                <button type="submit"
                                                    class="pl-2 btn btn-link text-danger  text-gradient px-3 mb-0"><i
                                                        class="far fa-trash-alt me-2"></i>Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% include 'w-pagination.html' with queryset=products custom_range=custom_range %}
            </div>
        </div>
    </div>
</div>

<script>
    const deleteItem = document.querySelectorAll('.deleteProduct');

    for (const item of deleteItem) {
        item.addEventListener('click', (e) => {
            e.preventDefault()
            let product = item.dataset.product
            swal({
                    title: `Are you sure you want to delete? ${product}`,
                    text: "This product will be removed to your inventory",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                .then((willDelete) => {
                    if (willDelete) {
                        item.submit()
                    }

                });
        })

    }
</script>




{% endblock content %}