{% extends 'main.html' %}
{% block title %}{% endblock title %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex align-items-center">
                        <p class="mb-0">Products</p>
                        <button class="btn btn-primary btn-sm ms-auto">Settings</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% for field in form %}
                      
                                        <div class="form-group">
                                            <label for="example-text-input" class="form-control-label">{{ field.label }}</label>
                                            {{ field }}
                                        </div>
                           
                                {% endfor %}

                                
                                <!--<label >With Size</label>
                                <select id="id_with_size" onchange="showDiv(this)">
                                    <option id="1">Yes</option>
                                    <option id="2">No</option>
                                </select>
                                <br>

                                <br>
                                <p id="demo"></p>-->
                                {% comment %} <label >With Size</label>
                                <select id="test" name="form_select" onchange="showDiv(this)">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                 </select> {% endcomment %}
                                 
                                {% comment %} <div id="hidden_div" style="display:none;"> {% endcomment %}
                                <!-- <div class="row">
                                        <div id="textbox-container"  class="col">
                                           
                                        </div>
                                        <div id="textbox-container" class="col">
                                          
                                        </div>
                                    <br>
                                </div>
                                    <button class="btn btn-info btn-sm" id="add-textbox-button" onclick="addTextbox(event)">Add size</button>
                                    <button class="btn btn-danger btn-sm" id="delete-textbox-button" onclick="deleteTextbox(event)">Delete size</button> -->
{% comment %} 
                                    <div class="row" id="size-inputs">
                                        <div class="col">
                                            <label>Size</label>
                                          <input type="text" class="form-control" placeholder="First name">
                                        </div>
                                        <div class="col">
                                            <label>Quantity</label>
                                          <input type="text" class="form-control" placeholder="Last name">
                                        </div>
                                    </div>

                                      <button class="btn btn-info btn-sm" id="add-textbox-button" onclick="addTextbox(event)">Add size</button>
                                      <button class="btn btn-danger btn-sm" id="delete-textbox-button" onclick="deleteTextbox(event)">Delete size</button> -->
  
                                 </div> {% endcomment %}

                             
 
                                <button class="btn btn-primary btn-sm" type="submit">Submit</button>
                            

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    /*const getSelectedText = (el) => {
        if (el.selectedIndex === -1) {
            return null;
        }
            return el.options[el.selectedIndex].text;
    }*/

    {% comment %} const select = document.querySelector('#id_with_size')
    let textboxCount = 0; {% endcomment %}
    //const addTextbox = document.querySelector('#add-textbox-button')
    //const sizeID = document.getElementById('#size_id')
   // const text = getSelectedText(select);
   // console.log(text)

    /*select.addEventListener("change", function(e){
        const text = getSelectedText(e.target);
        console.log(text)
        document.getElementById("demo").innerHTML = text

        if(select.value==1){
            document.getElementById('size_id').style.display = "visible";
        }else{
            document.getElementById('size_id').style.display = "hidden";
        }

    });*/

    {% comment %} function showDiv(select){
        if(select.value==1){
            document.getElementById('hidden_div').style.display = "block";
        } else{
            document.getElementById('hidden_div').style.display = "none";
        }
    } 


    function addTextbox(e) {
        e.preventDefault();
        var textbox1 = document.createElement("div");
        textbox1.classList.add("col")
        textbox1.innerHTML = `
                            <label>Size</label>
                            <input type="text" class="form-control" placeholder="First name">
                           `;

        
        var textbox2 = document.createElement("div");
        textbox2.classList.add("col")
        textbox2.innerHTML =`
                            <label>Quantity</label>
                            <input type="text" class="form-control" placeholder="Last name">
                            `;

        var container = document.getElementById("size-inputs");
        container.appendChild(textbox1);
        container.appendChild(textbox2);

        textboxCount += 2;


    }

    function deleteTextbox(e) {
        e.preventDefault();
        if (textboxCount > 0) {
        var container = document.getElementById("textbox-container");
        container.removeChild(container.lastChild);
        container.removeChild(container.lastChild); 
        textboxCount -= 2;
    }
    } {% endcomment %}

</script>

{% endblock %}