{% extends 'main.html' %}
{% block title %}Add product{% endblock title %}
{% block content %}
<style>

    label {
        font-size: 16px !important;
    }
</style>
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex align-items-center">
                        <h6 class=" text-primary mb-0">Add a Product</h6>
                    </div>
                </div>
                <form  id ="addProduct" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                {% if form.name != "with_variation" and form.name != "actual_stocks" %}
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Category</label>
                                    {{form.category }}
                                    <p id="error1" style="color:#f02849; font-size: 14px; margin-left: 10px;"></p>   

                                    <label for="example-text-input" class="form-control-label">Product Name </label>
                                    {{form.product_name }}
                                    <p id="error2" style="color:#f02849; font-size: 14px; margin-left: 10px;"></p>   

                                    <label for="example-text-input" class="form-control-label">Description</label>
                                    {{form.description }}
                                    <p id="error3" style="color:#f02849; font-size: 14px; margin-left: 10px;"></p>   

                                    <label for="example-text-input" class="form-control-label">Product Image</label>
                                    {{form.product_image }}
                                    
                                    <label for="example-text-input" class="form-control-label">Price</label>
                                    {{form.price }}
                                    <p id="error4" style="color:#f02849; font-size: 14px; margin-left: 10px;"></p>   

                                  {% endif %}
                                </div>
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">With variation</label>
                                    <select name="with_variation" class="form-control" required id="id_with_variation">
                                        {% for value, text in form.with_variation.field.choices %}
                                        <option value="{{ value }}"
                                            {% if product_variation and value in product_variation %}selected{% endif %}>
                                            {{ text }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                    <p id="error5" style="color:#f02849; font-size: 14px; margin-left: 10px;"></p>   

                                </div>

                                <div id="hidden_stocks" style="display:none;">
                                    <div class="form-group">
                                        <label for="example-text-input"
                                            class="form-control-label">{{ form.actual_stocks.label }}</label>
                                        {{ form.actual_stocks }}
                                        <p id="error6" style="color:#f02849; font-size: 14px; margin-left: 10px;"></p>   

                                    </div>
                                </div>
                            </div>
                            <div id="hidden_variation" style="display:none;">
                                <div class="row" id="size-inputs"> 
                                    <div class="col">
                                        <label>{{variation_form.name.label}}</label>
                                        {{variation_form.name}}
                                    </div>
                                    <div class="col">
                                        <label>{{variation_form.actual_stocks_var.label}}</label>
                                       <span class ="var-qty"> {{variation_form.actual_stocks_var}} </span>
                                    </div>
                                </div>
                            </div>
                            <p id="error8" style="color:#f02849; font-size: 14px; margin-left: 10px;"></p>   

                            <div id="hidden_btns" style="display:none;">
                                <button class="btn btn-info btn-sm mt-3" type="button" hx-get="{% url 'size-form' %}"
                                    hx-target="#hidden_variation" hx-swap="beforeend" id="add-textbox-button"><i class="fa fa-plus"></i>&nbsp; Add variation </button>
                                    
                                <button class="btn btn-danger btn-sm mt-3" type="button"
                                    id="delete-textbox-button"><i class="fa fa-trash-o"></i>&nbsp; Delete variation </button>
                            </div>
                            <label for="example-text-input" class="form-control-label">Minimum Order:</label>
                            <span id = "minimum">{{form.min_orders}}</span>
                            <p id="error7" style="color:#f02849; font-size: 14px; margin-left: 10px;"></p>   

                        </div>
                        <br><br>
                        <div class="row">
                            <div class="w-25 mx-auto">
                                <button id = "add-button"class="btn btn-success btn-sm" type="submit">Submit</button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    const form = document.querySelector('#addProduct');
    const category = document.getElementById('id_category');
    const prodName = document.getElementById('id_product_name');
    const desc = document.getElementById('id_description');
    const price = document.getElementById('id_price');
    const withVariation =  document.getElementById("id_with_variation"); 
    const minOrders =  document.getElementById("id_min_orders"); 
    const actualStock =  document.getElementById("id_actual_stocks"); 
    const hiddenVariation =  document.getElementById("hidden_variation"); 
    const hiddenStocks =  document.getElementById("hidden_stocks");

    const error1 = document.querySelector('#error1');
    const error2 = document.querySelector('#error2');
    const error3 = document.querySelector('#error3');
    const error4 = document.querySelector('#error4');
    const error5 = document.querySelector('#error5');
    const error6 = document.querySelector('#error6');
    const error7 = document.querySelector('#error7');
    const error8 = document.querySelector('#error8');


    const addButtons = document.getElementById('add-button');

    addButtons.addEventListener('click', function(event) {
    let errors = false;
    if(hiddenStocks && hiddenStocks.style.display === 'block'){
        if (category.value.trim() === '') {
            document.getElementById('error1').textContent = '• Category is required.';
            category.style.borderColor = "red";
            errors = true;
        } else {
            category.style.borderColor = "";
            document.getElementById('error1').textContent = '';
        }

        if (prodName.value.trim() === '') {
            document.getElementById('error2').textContent = '• Product name is required.';
            prodName.style.borderColor = "red";
            errors = true;
        } else {
            prodName.style.borderColor = "";
            document.getElementById('error2').textContent = '';
        }

        if (desc.value.trim() === '') {
            document.getElementById('error3').textContent = '• Description is required.';
            desc.style.borderColor = "red";
            errors = true;
        } else {
            desc.style.borderColor = "";
            document.getElementById('error3').textContent = '';
        }

        if (price.value.trim() === '') {
            document.getElementById('error4').textContent = '• Price is required.';
            price.style.borderColor = "red";
            errors = true;
        } else {
            price.style.borderColor = "";
            document.getElementById('error4').textContent = '';
        }

        if (withVariation.value.trim() === '') {
            document.getElementById('error5').textContent = '• With variation is required.';
            withVariation.style.borderColor = "red";
            errors = true;
        } else {
            withVariation.style.borderColor = "";
            document.getElementById('error5').textContent = '';
        }

        if (actualStock.value.trim() === '') {
            document.getElementById('error6').textContent = '• Minimum order is required.';
            actualStock.style.borderColor = "red";
            errors = true;
        } else {
            actualStock.style.borderColor = "";
            document.getElementById('error6').textContent = '';
        }

        if (minOrders.value.trim() === '') {
            document.getElementById('error7').textContent = '• Stock is required.';
            minOrders.style.borderColor = "red";
            errors = true;
        } else {
            minOrders.style.borderColor = "";
            document.getElementById('error7').textContent = '';
        }
    }
    else if ((hiddenVariation && hiddenVariation.style.display === 'block') && hiddenStocks.style.display === 'none') {

            const formData = new FormData(form);

            for (let pair of formData.entries()) {
            // if (!pair[1]) {
            //     console.log(`Input with name '${pair[0]}' is empty`);
            // }
            if(!pair[1] && pair[0] === 'name'){
                document.getElementById('error8').textContent = '• Variation Name is required.';
            }
        }

        
    if (category.value.trim() === '') {
            document.getElementById('error1').textContent = '• Category is required.';
            category.style.borderColor = "red";
            errors = true;
        } else {
            category.style.borderColor = "";
            document.getElementById('error1').textContent = '';
        }

        if (prodName.value.trim() === '') {
            document.getElementById('error2').textContent = '• Product name is required.';
            prodName.style.borderColor = "red";
            errors = true;
        } else {
            prodName.style.borderColor = "";
            document.getElementById('error2').textContent = '';
        }

        if (desc.value.trim() === '') {
            document.getElementById('error3').textContent = '• Description is required.';
            desc.style.borderColor = "red";
            errors = true;
        } else {
            desc.style.borderColor = "";
            document.getElementById('error3').textContent = '';
        }

        if (price.value.trim() === '') {
            document.getElementById('error4').textContent = '• Price is required.';
            price.style.borderColor = "red";
            errors = true;
        } else {
            price.style.borderColor = "";
            document.getElementById('error4').textContent = '';
        }

        if (withVariation.value.trim() === '') {
            document.getElementById('error5').textContent = '• With variation is required.';
            withVariation.style.borderColor = "red";
            errors = true;
        } else {
            withVariation.style.borderColor = "";
            document.getElementById('error5').textContent = '';
        }

        if (minOrders.value.trim() === '') {
            document.getElementById('error7').textContent = '• Stock is required.';
            minOrders.style.borderColor = "red";
            errors = true;
        } else {
            minOrders.style.borderColor = "";
            document.getElementById('error7').textContent = '';
        }
    }
    else{
        if (category.value.trim() === '') {
            document.getElementById('error1').textContent = '• Category is required.';
            category.style.borderColor = "red";
            errors = true;
        } else {
            category.style.borderColor = "";
            document.getElementById('error1').textContent = '';
        }

        if (prodName.value.trim() === '') {
            document.getElementById('error2').textContent = '• Product name is required.';
            prodName.style.borderColor = "red";
            errors = true;
        } else {
            prodName.style.borderColor = "";
            document.getElementById('error2').textContent = '';
        }

        if (desc.value.trim() === '') {
            document.getElementById('error3').textContent = '• Description is required.';
            desc.style.borderColor = "red";
            errors = true;
        } else {
            desc.style.borderColor = "";
            document.getElementById('error3').textContent = '';
        }
        
        if (price.value.trim() === '') {
            document.getElementById('error4').textContent = '• Price is required.';
            price.style.borderColor = "red";
            errors = true;
        } else {
            price.style.borderColor = "";
            document.getElementById('error4').textContent = '';
        }

        if (withVariation.value.trim() === '') {
            document.getElementById('error5').textContent = '• With variation is required.';
            withVariation.style.borderColor = "red";
            errors = true;
        } else {
            withVariation.style.borderColor = "";
            document.getElementById('error5').textContent = '';
        }

        if (minOrders.value.trim() === '') {
            document.getElementById('error7').textContent = '• Minimum is required.';
            minOrders.style.borderColor = "red";
            errors = true;
        } else {
            minOrders.style.borderColor = "";
            document.getElementById('error7').textContent = '';
        }
    }

      
  });

    const element = document.getElementById("id_with_variation");
    const delButton = document.getElementById("delete-textbox-button");
    const addButton = document.getElementById("add-textbox-button")
    let textboxCount = 0;

  

    element.addEventListener("change", function (e) {
        if (element.value == '1') {
            document.getElementById('hidden_variation').style.display = "block";
            document.getElementById('hidden_btns').style.display = "block";
            document.getElementById('hidden_stocks').style.display = "none";
        } 
        
        else if (element.value == '0') {
            document.getElementById('hidden_variation').style.display = "none";
            document.getElementById('hidden_btns').style.display = "none";
            document.getElementById('hidden_stocks').style.display = "block";
        }
    });
    window.addEventListener("load", (event) => {
        if (element.value == '1') {
            document.getElementById('hidden_variation').style.display = "block";
            document.getElementById('hidden_btns').style.display = "block";
            document.getElementById('hidden_stocks').style.display = "none";
        } else if (element.value == '0') {
            document.getElementById('hidden_variation').style.display = "none";
            document.getElementById('hidden_btns').style.display = "none";
            document.getElementById('hidden_stocks').style.display = "block";
        }
    });

    addButton.addEventListener('click', function (e) {
        textboxCount++
    });

    delButton.addEventListener('click', function (e) {
        if (textboxCount >= 0) {
            const container = document.getElementById("hidden_variation");
            container.removeChild(container.lastChild);
            textboxCount -= 1;
        }
    });
</script>
{% endblock %}